
<!-- briefing view -->
<div class="briefing-view hidden" data-area="briefing">
	
	<div class="layout">
		Clear the freighter of robots by destroying them with twin lasers or by transferring control to them.
		<br/><br/>
		Control is via keyboard, mouse or joystick.
		<br/><br/>
		Motion control: a, s, d, w  or Cursor keys on the keyboard, or you can use the joystick.
		To fire: press space-bar + direction, left mouse-button or first joystick-button + direction.
		To enter takeover-mode: press fire without a direction, right mouse-key or second joystick-button.
		To enter lifts or consoles: press 'e' or RightShift on the keyboard, middle mouse-button or third joystick button.
		If you collide with a droid while in takeover mode, you enter the takeover-game.
		If you win, you can control this droid for a while, if you lose and you controlled another droid before, you revert to the 001 influence device, otherwise you are destroyed.
		<br/><br/>
		To enter the game-menu press Escape.
	</div>

</div>
