
<!-- console view -->
<div class="console-view" data-area="console">

	<span class="droid" data-id="001"><b></b></span>
	<span class="droid" data-id="123"><b></b></span>
	<span class="droid" data-id="139"><b></b></span>
	<span class="droid" data-id="247"><b></b></span>
	<span class="droid" data-id="249"><b></b></span>
	<span class="droid" data-id="296"><b></b></span>
	<span class="droid" data-id="302"><b></b></span>
	<span class="droid" data-id="329"><b></b></span>
	<span class="droid" data-id="420"><b></b></span>
	<span class="droid" data-id="476"><b></b></span>
	<span class="droid" data-id="493"><b></b></span>
	<span class="droid" data-id="516"><b></b></span>
	<span class="droid" data-id="571"><b></b></span>
	<span class="droid" data-id="598"><b></b></span>
	<span class="droid" data-id="614"><b></b></span>
	<span class="droid" data-id="615"><b></b></span>
	<span class="droid" data-id="629"><b></b></span>
	<span class="droid" data-id="711"><b></b></span>
	<span class="droid" data-id="742"><b></b></span>
	<span class="droid" data-id="751"><b></b></span>
	<span class="droid" data-id="821"><b></b></span>
	<span class="droid" data-id="834"><b></b></span>
	<span class="droid" data-id="883"><b></b></span>
	<span class="droid" data-id="999"><b></b></span>

</div>
