
<!-- console view -->
<div class="console-view hidden" data-area="console" data-name="Console" data-view="droid">
	<div class="menu">
		<div class="option active" data-view="player">
			<i class="icon-droid droid" data-id="001">
				<b></b>
			</i>
		</div>
		<div class="option" data-view="droid">
			<i class="icon-droid-info"></i>
			<div class="sub" data-step="select-droid">
				<span>001</span>
				<span>123</span>
				<span>139</span>
				<span>247</span>
				<span>249</span>
				<span>296</span>
				<span>302</span>
				<span>329</span>
				<span data-id="420">420</span>
				<span data-id="476">476</span>
				<span data-id="493">493</span>
				<span>516</span>
				<span>571</span>
				<span>598</span>
				<span>614</span>
				<span>615</span>
				<span>629</span>
				<span>711</span>
				<span>737</span>
				<span>742</span>
				<span>751</span>
				<span>821</span>
				<span>834</span>
				<span>883</span>
				<span>999</span>
			</div>
		</div>
		<div class="option" data-view="level">
			<i class="icon-level"></i>
		</div>
		<div class="option" data-view="ship">
			<i class="icon-ship"></i>
			<div class="sub" data-step="select-level">
				<!-- just a placeholder -->
			</div>
		</div>
	</div>

	<div class="view-droid">
		<div class="player-droid hidden">This is the unit that you currently control.</div>
		<div class="return-exit hidden">Press Return to exit Console.</div>
		<div class="blueprint">
			<canvas class="shifter" width="318" height="318"></canvas>
		</div>

		<div class="info">
			<span class="unit">&#160;</span>
			<span class="vessel">SSA Avalon</span>
			<div class="row">
				<span class="type">&#160;</span>
				<span class="weight">&#160;</span>
			</div>
			<div class="row">
				<span class="weapon">&#160;</span>
				<span class="speed">&#160;</span>
			</div>
			<span class="notes">&#160;</span>
		</div>
	</div>

	<div class="view-level">
		<div class="player"></div>
		<canvas class="minimap" width="570" height="300"></canvas>
		<ul class="v-ruler">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="h-ruler">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<div class="view-ship">
		<div class="player-section">
			You are currently in this section.
			<i class="line"></i>
		</div>
		@import "ship.htm"
	</div>
	
	<h5 class="ssa">Scandinavian Space Alliance</h5>
</div>
