
<!-- console view -->
<div class="console-view" data-area="console" data-name="Console">

	<div class="menu" data-click="select-view">
		<div class="option active" data-view="player">
			<span class="droid" data-id="001"><b></b></span>
		</div>
		<div class="option" data-view="droids">
			<i class="icon-droid-info"></i>
		</div>
		<div class="option" data-view="level">
			<i class="icon-level"></i>
		</div>
		<div class="option" data-view="ship">
			<i class="icon-ship"></i>
		</div>
	</div>

	<div class="data">
		<h5>Scandinavian Space Alliance</h5>
		<div class="blueprint"></div>

		<div class="info">
			<span class="unit">Unit 834</span>
			<span class="ship">SSA Avalon</span>
			<span class="type">Sentinel Droid</span>
			<span class="class">Security Class</span>
			<span class="weight">73 kg</span>
			<span class="speed">2 m/s</span>
		</div>
	</div>
</div>
