
<!-- editor view -->
<div class="editor-view hidden big-tiles" data-context="editor-content" data-area="editor" data-name="Editor">
	<div class="viewport">
		<!-- insert tiles with cursor -->
		<div class="cursor" style="--l: 1; --t: 1; --tx: -.5; --ty: -.5;">
			<b style="--x: 0; --y: 0;"></b>
		</div>
		<div class="edit-box">
			<div class="handle-box">
				<span class="handle n"></span>
				<span class="handle nw"></span>
				<span class="handle w"></span>
				<span class="handle sw"></span>
				<span class="handle s"></span>
				<span class="handle se"></span>
				<span class="handle e"></span>
				<span class="handle ne"></span>
			</div>
		</div>
		<div class="level-bg"></div>
		<!-- level tiles goes here -->
	</div>
</div>
