
<div class="hud-view" data-area="hud">
	<div class="left">
		<div class="bar">
			<div class="box">
				<div class="top"></div>
				<div class="back"></div>
				<div class="bottom"></div>
				<div class="empty"></div>
				<div class="full"></div>
				<div class="front"></div>
			</div>
		</div>
		<div class="view-title">&#160;</div>
	</div>
	<div class="center">
		<div class="hud-logo">
			<b class="logo-c1-p"></b>
			<b class="logo-c2-a"></b>
			<b class="logo-c3-r"></b>
			<b class="logo-c4-a"></b>
			<b class="logo-c5-d"></b>
			<b class="logo-c6-r"></b>
			<b class="logo-c7-o"></b>
			<b class="logo-c8-i"></b>
			<b class="logo-c9-d"></b>
		</div>
	</div>
	<div class="right">
		<div class="bar">
			<div class="box">
				<div class="top"></div>
				<div class="back"></div>
				<div class="bottom"></div>
				<div class="empty"></div>
				<div class="full"></div>
				<div class="front"></div>
			</div>
		</div>
		<div class="cube-title" data-click="toggle-play-pause" data-toggle="Resume">Pause</div>
	</div>
</div>
