
<!-- lift view -->
<div class="lift-view" data-area="lift" data-name="Lift">
	<div class="box"></div>
	<div class="ship" data-click="select-lift">
		<div class="deck" data-id="1">
			<div class="level" data-id="5"></div>
			<div class="level" data-id="19"></div>
		</div>
		<div class="deck" data-id="2">
			<div class="level" data-id="4"></div>
			<div class="level" data-id="18"></div>
			<div class="level" data-id="20"></div>
		</div>
		<div class="deck" data-id="3">
			<div class="level" data-id="3"></div>
			<div class="level" data-id="17"></div>
		</div>
		<div class="deck" data-id="4">
			<div class="level" data-id="8"></div>
			<div class="level" data-id="16"></div>
		</div>
		<div class="deck" data-id="5">
			<div class="level" data-id="15"></div>
		</div>
		<div class="deck" data-id="6">
			<div class="level" data-id="14"></div>
		</div>
		<div class="deck" data-id="7">
			<div class="level" data-id="7"></div>
			<div class="level" data-id="13"></div>
		</div>
		<div class="deck" data-id="8">
			<div class="level" data-id="12"></div>
		</div>
		<div class="deck" data-id="9">
			<div class="level" data-id="2"></div>
			<div class="level" data-id="11"></div>
		</div>
		<div class="deck" data-id="10">
			<div class="level" data-id="1"></div>
			<div class="level" data-id="6"></div>
			<div class="level" data-id="9"></div>
			<div class="level" data-id="10"></div>
		</div>

		<div class="lift" data-id="1" data-levels="5,4,3,2,1" data-deck="1"><span class="elevator"></span></div>
		<div class="lift" data-id="2" data-levels="8,7,6" data-deck="6"><span class="elevator"></span></div>
		<div class="lift" data-id="3" data-levels="18,3" data-deck="3"><span class="elevator"></span></div>
		<div class="lift" data-id="4" data-levels="19,18,17,16,15" data-deck="15"><span class="elevator"></span></div>
		<div class="lift" data-id="5" data-levels="15,8,7,9" data-deck="9"><span class="elevator"></span></div>
		<div class="lift" data-id="6" data-levels="12,11,10" data-deck="10"><span class="elevator"></span></div>
		<div class="lift" data-id="7" data-levels="17,16,15,14,13,12" data-deck="12"><span class="elevator"></span></div>
		<div class="lift" data-id="8" data-levels="20,17" data-deck="17"><span class="elevator"></span></div>

	</div>
</div>
