
<!-- lift view -->
<div class="lift-view hidden" data-area="lift" data-name="Lift">
	<div class="box"></div>
	<div class="ship" data-click="select-lift">
		<div class="deck" data-id="1">
			<div class="section" data-id="5" data-level="1" data-color="#e07777" data-filter="none"></div>
			<div class="section" data-id="19" data-level="1" data-color="#e07777" data-filter="none"></div>
		</div>
		<div class="deck" data-id="2">
			<div class="section" data-id="4" data-level="15" data-color="#7175f9" data-filter="hue-rotate(245deg) brightness(1.1)"></div>
			<div class="section" data-id="18" data-level="2" data-color="#e84f46" data-filter="saturate(1.35) brightness(.95)"></div>
			<div class="section" data-id="20" data-level="2" data-color="#e84f46" data-filter="saturate(1.35) brightness(.95)"></div>
		</div>
		<div class="deck" data-id="3">
			<div class="section" data-id="3" data-level="3" data-color="#b7a01d" data-filter="sepia(1) brightness(0.9) saturate(2)"></div>
			<div class="section" data-id="17" data-level="4" data-color="#378300" data-filter="hue-rotate(115deg) brightness(0.95)"></div>
		</div>
		<div class="deck" data-id="4">
			<div class="section" data-id="8" data-level="12" data-color="#e74f45" data-filter="none"></div>
			<div class="section" data-id="16" data-level="5" data-color="#e07777" data-filter="none"></div>
		</div>
		<div class="deck" data-id="5">
			<div class="section" data-id="15" data-level="6" data-color="#b7a01d" data-filter="sepia(1) brightness(0.9) saturate(2)"></div>
		</div>
		<div class="deck" data-id="6">
			<div class="section" data-id="14" data-level="7" data-color="#b94bb5" data-filter="sepia(1) hue-rotate(245deg) saturate(2) brightness(0.95)"></div>
		</div>
		<div class="deck" data-id="7">
			<div class="section" data-id="7" data-level="11" data-color="#629a39" data-filter="hue-rotate(115deg) brightness(1.05)"></div>
			<div class="section" data-id="13" data-level="8" data-color="#7175f9" data-filter="hue-rotate(245deg) brightness(1.1)"></div>
		</div>
		<div class="deck" data-id="8">
			<div class="section" data-id="12" data-level="9" data-color="#bc6a07" data-filter="hue-rotate(35deg)"></div>
		</div>
		<div class="deck" data-id="9">
			<div class="section" data-id="2" data-level="13" data-color="#009c87" data-filter="sepia(.9) hue-rotate(135deg) brightness(.925)"></div>
			<div class="section" data-id="11" data-level="13" data-color="#009c87" data-filter="sepia(.9) hue-rotate(135deg) brightness(.925)"></div>
		</div>
		<div class="deck" data-id="10">
			<div class="section" data-id="1" data-level="14" data-color="#e84f46" data-filter="saturate(1.35) brightness(.95)"></div>
			<div class="section" data-id="6" data-level="16" data-color="#b7a01d" data-filter="sepia(1) brightness(0.9) saturate(2)"></div>
			<div class="section" data-id="9" data-level="10" data-color="#009c87" data-filter="sepia(.9) hue-rotate(135deg) brightness(.925)"></div>
			<div class="section" data-id="10" data-level="14" data-color="#e84f46" data-filter="saturate(1.35) brightness(.95)"></div>
		</div>

		<div class="lift active" data-id="1" data-sections="5,4,3,2,1" data-section="1"><span class="elevator"></span></div>
		<div class="lift" data-id="2" data-sections="8,7,6" data-section="6"><span class="elevator"></span></div>
		<div class="lift" data-id="3" data-sections="18,3" data-section="3"><span class="elevator"></span></div>
		<div class="lift" data-id="4" data-sections="19,18,17,16,15" data-section="15"><span class="elevator"></span></div>
		<div class="lift" data-id="5" data-sections="15,8,7,9" data-section="9"><span class="elevator"></span></div>
		<div class="lift" data-id="6" data-sections="12,11,10" data-section="10"><span class="elevator"></span></div>
		<div class="lift" data-id="7" data-sections="17,16,15,14,13,12" data-section="12"><span class="elevator"></span></div>
		<div class="lift" data-id="8" data-sections="20,17" data-section="17"><span class="elevator"></span></div>

	</div>
</div>
