
<!-- mobile (game) view -->
<div class="mobile-view hidden" data-area="mobile" data-name="Mobile">
	<canvas class="game" width="746" height="470"></canvas>
	<div class="droid-fx"></div>
	<div class="debug">
		<div class="coords">Coords: <span>&#160;</span></div>
	</div>

	<div class="progress">
		<div class="box-track" data-id="level" style="--val: 1;">
			<div class="box-bar"><b></b></div>
			<div class="tooltip">Level Droids</div>
		</div>
		<div class="box-track" data-id="health" style="--val: 1;">
			<div class="box-bar"><b></b></div>
			<div class="tooltip">Host Energy</div>
		</div>
		<div class="box-track" data-id="reject" style="--val: 1;">
			<div class="box-bar"><b></b></div>
			<div class="tooltip">Host Reject</div>
		</div>
	</div>
</div>
