
<!-- start view -->
<div class="start-view" data-area="start">
	<div class="logo">
		<div class="boxes-top-left"></div>
		<div class="boxes-top-right"></div>
		<b class="logo-c1-p"></b>
		<b class="logo-c2-a"></b>
		<b class="logo-c3-r"></b>
		<b class="logo-c4-a"></b>
		<b class="logo-c5-d"></b>
		<b class="logo-c6-o"></b>
		<b class="logo-c7-i"></b>
		<b class="logo-c8-d"></b>
		<div class="boxes-bottom-left"></div>
		<div class="boxes-bottom-right"></div>
		
		<!--
		<div class="paradroid-3001">
			<svg ><use xlink:href="#paradroid-3001"></use></svg>
		</div>
		-->
	</div>
</div>
