
<!-- circuit board filters -->
<div class="filters">
	<svg viewBox="0 0 277 584">
		<defs>
			<filter id="line" filterUnits="userSpaceOnUse">
				<feMorphology operator="dilate" radius="1" in="SourceGraphic" result="dilated"/>
				<feGaussianBlur in="dilated" stdDeviation="4" result="blur1"/>
				<feComposite in="blur1" in2="SourceGraphic" operator="lighter" result="blur"/>
				<feColorMatrix in="SourceGraphic"
								result="white"
								type="matrix"
								values="0 0 0 1 0
										0 0 0 1 0
										0 0 0 1 0
										0 0 0 1 0" />
				<feComposite in="blur" in2="white" operator="over" result="blur"/>
			</filter>

			<filter id="stream" filterUnits="userSpaceOnUse">
				<feMorphology operator="dilate" radius="1" in="SourceGraphic" result="dilated"/>
				<feGaussianBlur in="dilated" stdDeviation="1" result="blur1"/>
				<feGaussianBlur in="dilated" stdDeviation="2" result="blur2"/>
				<feComposite in="blur1" in2="blur2" operator="lighter" result="blur"/>
				<feColorMatrix in="SourceGraphic"
								result="white"
								type="matrix"
								values="0 0 0 1 0
										0 0 0 1 0
										0 0 0 1 0
										0 0 0 1 0" />
				<feComposite in="blur" in2="white" operator="over" result="blur"/>
			</filter>

			<filter id="drop-stroke-shadow" height="130%">
				<fegaussianblur in="SourceAlpha" stddeviation="2"></fegaussianblur>
			</filter>

			<linearGradient id="text_fill" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="0" y2="40">
				<stop  offset="0" style="stop-color:#ddd"/>
				<stop  offset="1" style="stop-color:#eee"/>
			</linearGradient>

			<!-- text: Avalon -->
			<symbol id="stroke-avalon">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Avalon</text>
			</symbol>
			<symbol id="fill-avalon">
				<text x="50%" y="60%" text-anchor="middle">Avalon</text>
			</symbol>

			<!-- text: Transmission -->
			<symbol id="stroke-transmission">
				<text x="50%" y="64%" fill="none" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Transmission Terminated</text>
			</symbol>
			<symbol id="fill-transmission">
				<text x="50%" y="60%" text-anchor="middle">Transmission Terminated</text>
			</symbol>

			<!-- text: Paused -->
			<symbol id="stroke-paused">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Paused</text>
			</symbol>
			<symbol id="fill-paused">
				<text x="50%" y="60%" text-anchor="middle">Paused</text>
			</symbol>

			<!-- text: Deadlock -->
			<symbol id="stroke-deadlock">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Deadlock</text>
			</symbol>
			<symbol id="fill-deadlock">
				<text x="50%" y="60%" text-anchor="middle">Deadlock</text>
			</symbol>

			<!-- text: Choose -->
			<symbol id="stroke-choose">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Choose Side</text>
			</symbol>
			<symbol id="fill-choose">
				<text x="50%" y="60%" text-anchor="middle">Choose Side</text>
			</symbol>

			<!-- text: Get Ready -->
			<symbol id="stroke-get-ready">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Get Ready</text>
			</symbol>
			<symbol id="fill-get-ready">
				<text x="50%" y="60%" text-anchor="middle">Get Ready</text>
			</symbol>

			<!-- text: Success -->
			<symbol id="stroke-success">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Success</text>
			</symbol>
			<symbol id="fill-success">
				<text x="50%" y="60%" text-anchor="middle">Success</text>
			</symbol>

			<!-- text: Failure -->
			<symbol id="stroke-failure">
				<text x="50%" y="66%" fill="none" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Failure</text>
			</symbol>
			<symbol id="fill-failure">
				<text x="50%" y="60%" text-anchor="middle">Failure</text>
			</symbol>
		</defs>
	</svg>
</div>
