
<!-- transfer view -->
<div class="transfer-view success1 hidden" data-area="transfer" data-name="Transfer">

	<!-- circuit board filters -->
	<div class="filters">
		<svg viewBox="0 0 277 584">
			<defs>
				<filter id="line" filterUnits="userSpaceOnUse">
					<feMorphology operator="dilate" radius="1" in="SourceGraphic" result="dilated"/>
					<feGaussianBlur in="dilated" stdDeviation="4" result="blur1"/>
					<feComposite in="blur1" in2="SourceGraphic" operator="lighter" result="blur"/>
					<feColorMatrix in="SourceGraphic"
									result="white"
									type="matrix"
									values="0 0 0 1 0
											0 0 0 1 0
											0 0 0 1 0
											0 0 0 1 0" />
					<feComposite in="blur" in2="white" operator="over" result="blur"/>
				</filter>

				<filter id="stream" filterUnits="userSpaceOnUse">
					<feMorphology operator="dilate" radius="1" in="SourceGraphic" result="dilated"/>
					<feGaussianBlur in="dilated" stdDeviation="1" result="blur1"/>
					<feGaussianBlur in="dilated" stdDeviation="2" result="blur2"/>
					<feComposite in="blur1" in2="blur2" operator="lighter" result="blur"/>
					<feColorMatrix in="SourceGraphic"
									result="white"
									type="matrix"
									values="0 0 0 1 0
											0 0 0 1 0
											0 0 0 1 0
											0 0 0 1 0" />
					<feComposite in="blur" in2="white" operator="over" result="blur"/>
				</filter>
			</defs>
		</svg>
	</div>

	<div class="finish">
		<h2>Great job</h2>
		<h3>You have hacked droid <span class="droid-id"></span></h3>
		<div class="blueprint"></div>
	</div>

	<div class="board">
		<div class="left">
			<!-- droid -->
			<span data-id="001" class="droid player"><b></b></span>
			<div class="side">
				<div class="led"></div>
				<div class="ammo" data-color="yellow" data-left="2">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<!-- togglers column -->
				<span class="toggler" data-active="1">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</span>

				<!-- yellow circuit board goes here -->
			</div>
		</div>
		<div class="center">
			<div class="cpu" data-winner="deadlock">
				<div class="led"></div>
				<b data-i="1"></b>
				<b data-i="2"></b>
				<b data-i="3"></b>
				<b data-i="4"></b>
				<b data-i="5"></b>
				<b data-i="6"></b>
				<b data-i="7"></b>
				<b data-i="8"></b>
				<b data-i="9"></b>
			</div>
			<div class="io-leds">
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
			</div>
		</div>
		<div class="right">
			<!-- droid -->
			<span data-id="249" class="droid"><b></b></span>
			<div class="side">
				<div class="led"></div>
				<div class="ammo" data-color="purple" data-left="2">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<!-- togglers column -->
				<span class="toggler" data-active="1">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</span>

				<!-- purple circuit board goes here -->
			</div>
		</div>
	</div>
</div>
