
<!-- transfer view -->
<div class="transfer-view" data-area="transfer">
	
	<span data-id="001" class="droid player left"><b></b></span>
	<span data-id="249" class="droid right"><b></b></span>

	<div class="board">
		<div class="left">
			<div class="side">
				<div class="led"></div>
				<div class="ammo">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<!--
					stopper
					repeater
					splitter
					joiner
					color reverse
				-->
				<div class="active"></div>
				<div></div>
				<div></div>
				<div class="active"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="center">
			<div class="cpu">
				<div class="led"></div>
				<b data-i="1"></b>
				<b data-i="2"></b>
				<b data-i="3"></b>
				<b data-i="4"></b>
				<b data-i="5"></b>
				<b data-i="6"></b>
				<b data-i="7"></b>
				<b data-i="8"></b>
				<b data-i="9"></b>
			</div>
			<div class="io-leds">
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
				<div class="yellow"><b></b><i></i></div>
				<div class="purple"><b></b><i></i></div>
			</div>
		</div>
		<div class="right">
			<div class="side">
				<div class="led"></div>
				<div class="ammo">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<div class="active"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div class="active"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
