
<!-- transfer view [ finish-win finish-loose deadlock-title hidden ] -->
<div class="transfer-view hidden" data-area="transfer" data-name="Transfer">

	<!-- transfer SUCCESS -->
	<div class="finish-success" data-id="999">
		<svg class="text-success" viewBox="0 0 130 60" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g class="svg-text__shaded__stroke">
				<use y="5%" xlink:href="#stroke-success" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
				<use y="3%" xlink:href="#stroke-success"></use>
				<use y="2%" xlink:href="#stroke-success"></use>
				<use y="1%" xlink:href="#stroke-success"></use>
				<use class="svg-text__stroke" xlink:href="#stroke-success"></use>
			</g>
			<g fill="#d4d4d4">
				<use class="svg-text__shaded" y="7%" xlink:href="#fill-success"></use>
				<use y="6.5%" xlink:href="#fill-success"></use>
				<use y="6%" xlink:href="#fill-success"></use>
				<use y="5.5%" xlink:href="#fill-success"></use>
				<use y="5%" xlink:href="#fill-success"></use>
				<use y="4.5%" xlink:href="#fill-success"></use>
				<use y="4%" xlink:href="#fill-success"></use>
				<use y="3.5%" xlink:href="#fill-success"></use>
				<use class="svg-text-top-hl" y="3%" xlink:href="#fill-success" fill="url(#text_fill)"></use>
			</g>
		</svg>
		<h3>You have hacked droid <span class="droid-id"></span></h3>
		<div class="blueprint"></div>
	</div>

	<!-- transfer FAIL -->
	<div class="finish-failure" data-id="999">
		<svg class="text-failure" viewBox="0 0 130 60" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g class="svg-text__shaded__stroke">
				<use y="5%" xlink:href="#stroke-failure" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
				<use y="3%" xlink:href="#stroke-failure"></use>
				<use y="2%" xlink:href="#stroke-failure"></use>
				<use y="1%" xlink:href="#stroke-failure"></use>
				<use class="svg-text__stroke" xlink:href="#stroke-failure"></use>
			</g>
			<g class="svg-text__shaded__fg">
				<use class="svg-text__shaded" y="7%" xlink:href="#fill-failure"></use>
				<use y="6.5%" xlink:href="#fill-failure"></use>
				<use y="6%" xlink:href="#fill-failure"></use>
				<use y="5.5%" xlink:href="#fill-failure"></use>
				<use y="5%" xlink:href="#fill-failure"></use>
				<use y="4.5%" xlink:href="#fill-failure"></use>
				<use y="4%" xlink:href="#fill-failure"></use>
				<use y="3.5%" xlink:href="#fill-failure"></use>
				<use class="svg-text-top-hl" y="3%" xlink:href="#fill-failure"></use>
			</g>
		</svg>
		<h3>You failed to hack droid <span class="droid-id"></span></h3>
	</div>

	<div class="deadlock">
		<svg class="text-deadlock" viewBox="0 0 160 70" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g class="svg-text__shaded__stroke">
				<use y="5%" xlink:href="#stroke-deadlock" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
				<use y="3%" xlink:href="#stroke-deadlock"></use>
				<use y="2%" xlink:href="#stroke-deadlock"></use>
				<use y="1%" xlink:href="#stroke-deadlock"></use>
				<use class="svg-text__stroke" xlink:href="#stroke-deadlock"></use>
			</g>
			<g fill="#d4d4d4">
				<use class="svg-text__shaded" y="7%" xlink:href="#fill-deadlock"></use>
				<use y="6.5%" xlink:href="#fill-deadlock"></use>
				<use y="6%" xlink:href="#fill-deadlock"></use>
				<use y="5.5%" xlink:href="#fill-deadlock"></use>
				<use y="5%" xlink:href="#fill-deadlock"></use>
				<use y="4.5%" xlink:href="#fill-deadlock"></use>
				<use y="4%" xlink:href="#fill-deadlock"></use>
				<use y="3.5%" xlink:href="#fill-deadlock"></use>
				<use class="svg-text-top-hl" y="3%" xlink:href="#fill-deadlock" fill="url(#text_fill)"></use>
			</g>
		</svg>
	</div>

	<div class="choose-side">
		<svg class="text-choose" viewBox="0 0 160 70" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g class="svg-text__shaded__stroke">
				<use y="5%" xlink:href="#stroke-choose" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
				<use y="3%" xlink:href="#stroke-choose"></use>
				<use y="2%" xlink:href="#stroke-choose"></use>
				<use y="1%" xlink:href="#stroke-choose"></use>
				<use class="svg-text__stroke" xlink:href="#stroke-choose"></use>
			</g>
			<g fill="#d4d4d4">
				<use class="svg-text__shaded" y="7%" xlink:href="#fill-choose"></use>
				<use y="6.5%" xlink:href="#fill-choose"></use>
				<use y="6%" xlink:href="#fill-choose"></use>
				<use y="5.5%" xlink:href="#fill-choose"></use>
				<use y="5%" xlink:href="#fill-choose"></use>
				<use y="4.5%" xlink:href="#fill-choose"></use>
				<use y="4%" xlink:href="#fill-choose"></use>
				<use y="3.5%" xlink:href="#fill-choose"></use>
				<use class="svg-text-top-hl" y="3%" xlink:href="#fill-choose" fill="url(#text_fill)"></use>
			</g>
		</svg>
	</div>

	<div class="get-ready">
		<svg class="text-get-ready" viewBox="0 0 160 70" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g class="svg-text__shaded__stroke">
				<use y="5%" xlink:href="#stroke-get-ready" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
				<use y="3%" xlink:href="#stroke-get-ready"></use>
				<use y="2%" xlink:href="#stroke-get-ready"></use>
				<use y="1%" xlink:href="#stroke-get-ready"></use>
				<use class="svg-text__stroke" xlink:href="#stroke-get-ready"></use>
			</g>
			<g fill="#d4d4d4">
				<use class="svg-text__shaded" y="7%" xlink:href="#fill-get-ready"></use>
				<use y="6.5%" xlink:href="#fill-get-ready"></use>
				<use y="6%" xlink:href="#fill-get-ready"></use>
				<use y="5.5%" xlink:href="#fill-get-ready"></use>
				<use y="5%" xlink:href="#fill-get-ready"></use>
				<use y="4.5%" xlink:href="#fill-get-ready"></use>
				<use y="4%" xlink:href="#fill-get-ready"></use>
				<use y="3.5%" xlink:href="#fill-get-ready"></use>
				<use class="svg-text-top-hl" y="3%" xlink:href="#fill-get-ready" fill="url(#text_fill)"></use>
			</g>
		</svg>
	</div>

	<div class="board">
		<div class="left">
			<!-- droid -->
			<span data-id="001" class="droid player"><b></b></span>
			<div class="side">
				<div class="led"></div>
				<div class="ammo" data-color="yellow">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<!-- togglers column -->
				<span class="toggler" data-active="1">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</span>

				<!-- yellow circuit board goes here -->
			</div>
		</div>
		<div class="center">
			<div class="cpu" data-winner="deadlock">
				<div class="led"></div>
				<b data-i="1"></b>
				<b data-i="2"></b>
				<b data-i="3"></b>
				<b data-i="4"></b>
				<b data-i="5"></b>
				<b data-i="6"></b>
				<b data-i="7"></b>
				<b data-i="8"></b>
				<b data-i="9"></b>
			</div>
			<div class="io-leds">
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
				<div class="yellow"></div>
				<div class="purple"></div>
			</div>
		</div>
		<div class="right">
			<!-- droid -->
			<span data-id="249" class="droid"><b></b></span>
			<div class="side">
				<div class="led"></div>
				<div class="ammo" data-color="purple">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="io">
				<!-- togglers column -->
				<span class="toggler" data-active="1">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</span>

				<!-- purple circuit board goes here -->
			</div>
		</div>
	</div>
</div>
