
<div class="view-controls">
	<div class="gamepad"></div>

	<h3 class="move">Move</h3>
	<h3 class="aim">Fire / Aim</h3>
	<h3 class="transfer">Transfer</h3>
	<h3 class="enter">Enter</h3>
	<h3 class="pause">Pause</h3>

	<span class="mouse"></span>

	<span class="key pause"><i>P</i></span>
	<span class="key shift"><i>Shift</i></span>
	<span class="key enter"><i>Enter</i></span>

	<div class="key-group wasd">
		<span class="key up"><i>W</i></span>
		<span class="key left"><i>A</i></span>
		<span class="key down"><i>S</i></span>
		<span class="key right"><i>D</i></span>
	</div>
	<div class="key-group arrows">
		<span class="key up"><i></i></span>
		<span class="key down"><i></i></span>
		<span class="key left"><i></i></span>
		<span class="key right"><i></i></span>
	</div>
</div>
