
content {
	&.fade-out[data-show] {
		// before animation
		.briefing-view {
			.carousel {
				.page {
					opacity: 0;
					margin-top: 30px;
				}
			}

			.menu {
				.option {
					opacity: 0;
					margin-top: 20px;
				}
			}
		}

		&[data-show="briefing"].fade-in {
			transition-delay: 600ms;
			
			.briefing-view {
				.carousel {
					.page {
						opacity: 1;
						margin-top: 0px;

						&:nth-child(1) { transition-delay: 100ms; }
						&:nth-child(2) { transition-delay: 200ms; }
						&:nth-child(3) { transition-delay: 300ms; }
						&:nth-child(4) { transition-delay: 400ms; }
						&:nth-child(5) { transition-delay: 500ms; }
					}
				}

				.menu {					
					.option {
						opacity: 1;
						margin-top: 0;
						transition: all 200ms ease-in-out;
						transition-delay: 600ms;
					}
				}
			}
		}
	}

	&[data-show="briefing"].leave {
		min-height: 2px;
		transition: min-height 900ms ease-in-out;

		.briefing-view {
			.carousel {
				.page {
					opacity: 0;
					margin-top: 30px;

					&:nth-child(1) { transition-delay: 500ms; }
					&:nth-child(2) { transition-delay: 400ms; }
					&:nth-child(3) { transition-delay: 300ms; }
					&:nth-child(4) { transition-delay: 200ms; }
					&:nth-child(5) { transition-delay: 100ms; }
				}
			}

			.menu {
				.option {
					opacity: 0;
					margin-top: 10px;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}


.briefing-view {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.carousel {
		// background: #0001;
		position: absolute;
		top: 37px;
		left: 28px;
		width: 694px;
		height: 400px;
		font-size: 0;
		filter: drop-shadow(0 2px 3px #0005);

		.page {
			position: relative;
			display: inline-block;
			width: 67px;
			height: 400px;
			vertical-align: top;
			// overflow: hidden;
			padding: 13px 17px;
			margin: 0 11px 0 0;
			border-radius: 3px;
			transition: all 400ms ease-in-out;
			cursor: pointer;

			&:before {
				content: "";
				background: #c7c7c7 radial-gradient(ellipse at bottom center, rgba(#fff,.25), transparent);
				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;
				border-radius: inherit;
				filter: drop-shadow(0 1px 0 hsl(174, 0%, 71%))
						drop-shadow(0 2px 0 hsl(174, 0%, 69%))
						drop-shadow(0 3px 0 hsl(174, 0%, 67%))
						// drop-shadow(0 4px 0 hsl(174, 0%, 65%))
						drop-shadow(0 1px 0 rgba(#222, .2));
			}

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				z-index: 2;
				background: linear-gradient(90deg, transparent, rgba(#fff,.75), transparent);
			}

			&:first-child {
				border-top-left-radius: 7px;
				border-bottom-left-radius: 7px;
			}

			&:last-child {
				margin-right: 0;
				border-top-right-radius: 7px;
				border-bottom-right-radius: 7px;
			}

			&:nth-child(1) .icon {
				background: url(~/icons/icon-thumb.png) 50% 17px no-repeat;
				background-size: 41px auto;
				filter: drop-shadow(0 1px 0 #fff);
			}

			&:nth-child(2) .icon {
				background: url(~/icons/bp-001.png) 50% -73px no-repeat;
				background-size: auto 220px;
				filter: grayscale(1) contrast(1.15) opacity(0.5);
			}

			&:nth-child(3) .icon {
				background: url(~/icons/icon-droid-info.png) 50% 100% no-repeat;
				background-size: 152% auto;
			}

			&:nth-child(4) .icon {
				background: url(~/icons/bp-r2d2.png) 50% 2px no-repeat;
				background-size: auto 73px;
			}

			&:nth-child(5) .icon {
				background: url(~/icons/gamepad.png) 1px 17px no-repeat;
				background-size: 50px auto;
			}

			&.active {
				width: 382px;
				cursor: default;

				h2 {
					color: #888;
					text-shadow: 0 1px 0 #fff9;
					transform: rotate(0deg);
				}

				.icon {
					opacity: 0;
				}

				.text {
					opacity: 1;
					top: 10px;
					transition-duration: 300ms;
					transition-delay: 400ms;
				}
			}

			h2 {
				color: #aaa;
				text-shadow: 1px 0 0 #fff9;
				position: relative;
				pointer-events: none;
				transform: rotate(90deg);
				transform-origin: 11px 20px;
				font-family: Paradrew;
				font-size: 26px;
				white-space: nowrap;
				transition: transform 400ms ease-in-out;
			}

			.icon {
				background: #0001;
				position: absolute;
				bottom: 7px;
				left: 7px;
				width: 53px;
				height: 79px;
				opacity: 1;
				pointer-events: none;
				transition: opacity 300ms ease-in-out;
			}

			.text {
				// background: #0001;
				position: relative;
				top: 20px;
				opacity: 0;
				font-family: Oxanium;
				font-size: 13px;
				line-height: 1.35;
				color: #777;
				text-shadow: 0 1px 0 #fff7;
				width: 350px;
				pointer-events: none;
				transition: opacity 80ms ease-in-out,
							top 80ms ease-in-out;
				transition-delay: 10ms;

				p {
					padding-bottom: 7px;
				}

				b {
					color: #99ffcf;
					text-shadow: 0 0 3px #0ec670;

					&[data-click] {
						pointer-events: all;
						cursor: pointer;
					}
				}

				i {
					display: inline-block;
					background: #ddd;
					border: 1px solid #aaaa;
					border-radius: 3px;
					padding: 1px 5px 0;
					font-style: normal;
				}
			}
		}
	}

	.page.controls {
		// .text {
		// 	pointer-events: all;
		// }

		.gamepad {
			background: url(~/icons/gamepad-outline.png) 50% 50%/contain no-repeat;
			position: absolute;
			top: 65px;
			left: 40px;
			width: 265px;
			height: 177px;
			filter: drop-shadow(0 1px 0 #fff);
		}

		h3 {
			position: absolute;
			text-transform: uppercase;

			&:before {
				content: "";
				position: absolute;
				border-right: 1px solid #99ffcf;
				border-bottom: 1px solid #99ffcf;
				border-left: 1px solid #99ffcf;
				filter: drop-shadow(0 0 3px #99ffcf);
			}

			&:after {
				content: "";
				position: absolute;
				top: 5px;
				left: -4px;
				background: #99ffcf;
				width: 3px;
				height: 3px;
				border-radius: 50%;
			}

			&.move {
				top: 250px;
				left: 76px;

				&:before {
					top: -71px;
					left: 39px;
					width: 24px;
					height: 77px;
					border-left: 0;
				}

				&:after {
					left: auto;
					right: -4px;
				}
			}

			&.aim {
				top: 250px;
				left: 230px;

				&:before {
					top: -71px;
					left: -24px;
					width: 19px;
					height: 77px;
					border-right: 0;
				}
			}

			&.transfer {
				top: 41px;
				left: 53px;

				&:before {
					top: 7px;
					left: -3px;
					width: 177px;
					height: 87px;
					border-right: 0;
				}
			}

			&.enter {
				top: 37px;
				left: 294px;

				&:before {
					top: 7px;
					left: -29px;
					width: 26px;
					height: 75px;
					border-left: 0;
				}
			}

			&.pause {
				top: 20px;
				left: 167px;

				&:before {
					top: 7px;
					left: -3px;
					width: 20px;
					height: 94px;
					border-right: 0;
				}
			}
		}

		.mouse {
			background: url(~/icons/icon-mouse.png) 50% 50%/contain no-repeat;
			position: absolute;
			top: 280px;
			left: 250px;
			width: 22px;
			height: 37px;
			filter: drop-shadow(0 1px 0 #fff);
		}

		span.key {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 21px;
			border-radius: 4px;

			&.up { top: 0px; left: 26px; }
			&.left { top: 24px; left: 0px; }
			&.down { top: 24px; left: 26px; }
			&.right { top: 24px; left: 52px; }

			&.pause {
				top: 16px;
				left: 137px;
			}

			&.shift {
				top: 37px;
				left: 0px;
				width: 47px;
			}
			
			&.enter {
				top: 34px;
				left: 237px;
				width: 51px;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				z-index: 2;
				background: linear-gradient(90deg, #fff0, #fff5, #fff0);
			}

			&:after {
				bottom: -2px;
			}

			i {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: inherit;
				padding-top: 2px;
				font-size: 15px;
				font-style: normal;
				text-align: center;
				background: #aaa radial-gradient(ellipse at bottom center, rgba(#fff,.15), transparent);
				color: #fff;
				text-shadow: 0 -1px 0 #999;
				filter: drop-shadow(0 1px 0 #999)
						// drop-shadow(0 2px 0 #e80)
						// drop-shadow(0 3px 0 #e80)
						drop-shadow(0 1px 0 rgba(#fff, .15));
			}
		}

		.key-group {
			position: absolute;
			width: 78px;
			height: 47px;
			font-size: 0;
			pointer-events: all;

			&.wasd {
				top: 280px;
				left: 10px;
			}

			&.arrows {
				top: 280px;
				left: 100px;

				.key {
					i {
						&:before {
							content: "";
							background: url(~/icons/icon-left.png) 50% 50%/contain no-repeat;
							position: absolute;
							top: 4px;
							left: 5px;
							width: 13px;
							height: 13px;
						}
					}

					&.up i:before {
						left: 6px;
						transform: rotate(90deg);
						filter: drop-shadow(-1px 0 0 #888);
					}

					&.left i:before {
						filter: drop-shadow(0 -1px 0 #888);
					}

					&.down i:before {
						top: 5px;
						transform: rotate(-90deg);
						filter: drop-shadow(1px 0 0 #888);
					}

					&.right i:before {
						top: 5px;
						left: 6px;
						transform: rotate(180deg);
						filter: drop-shadow(0 1px 0 #888);
					}
				}
			}
		}
	}

	.menu {
		position: absolute;
		top: auto;
		left: 130px;
		bottom: 37px;
		height: 37px;
		width: 500px;
		margin: 0 auto;
		text-align: center;
		perspective: 500px;

		.option {
			position: relative;
			margin: 0 33px 0 -3px;
			display: inline-block;
			height: 37px;
			opacity: 1;
			transform: translateY(0px) translateZ(0px);
			// pointer-events: none;

			&:hover {
				.bar .box .back:before {
					box-shadow: -3px -10px 15px var(--c1);
				}
			}

			&:nth-child(1) {
				.bar {
					width: 109px;

					.box {
						--c1: #54ffaf;
						transform: rotateX(79deg) rotateZ(1deg) translateY(60px);

						 .back:before {
							box-shadow: -3px -5px 7px var(--c1);
						}
					}
				}

				.box-title {
					position: absolute;
					top: 35px;
					left: 0;
					right: 0;
					text-align: left;
					padding: 4px 0;
					color: rgba(#222,.3);
					mix-blend-mode: luminosity;
					font-family: Paradrew;
					font-size: 20px;
					text-align: center;
					text-shadow: 0 1px 0 rgba(#fff,.35);
					pointer-events: all;
					cursor: pointer;
				}
			}
		}
	}
}
