
.briefing-view {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.text {
		padding: 21px 37px;
		color: rgba(#222,.5);
		font-family: Paradrew;
		font-size: 20px;
		line-height: 1.25;
		text-shadow: 0 1px 0 rgba(#fff,.35);
	}
}
