
content {
	&.fade-out[data-show] {
		// before animation
		.console-view {
			.menu {
				.option {
					opacity: 0;
					transform: translateY(15px);
					transition: all 200ms ease-in-out;
				}
			}
		}

		&[data-show="console"].fade-in {
			transition-duration: 500ms;

			// start transition
			.console-view {
				.menu {
					.option {
						opacity: 1;
						transform: translateY(0px);

						&:nth-child(1) { transition-delay: 0ms; }
						&:nth-child(2) { transition-delay: 100ms; }
						&:nth-child(3) { transition-delay: 200ms; }
						&:nth-child(4) { transition-delay: 300ms; }
					}
				}
			}
		}
	}
}

.console-view {
	display: flex;
	padding: 19px 21px 21px;
	font-family: "ParaDrew";
	font-size: 22px;
	color: #626262;
	text-shadow: 0 1px 1px rgba(#fff,.85);

	.menu {
		// background: rgba(#000,.1);
		width: 90px;
		margin-right: 11px;
		text-align: center;

		.option {
			position: relative;
			display: block;
			width: 90px;
			height: 90px;
			margin: 0 0 21px;
			padding: 19px 0 0;
			border-radius: 6px;
			background: #c7c7c7 radial-gradient(ellipse at bottom center, rgba(#fff,.25), transparent);
			filter: drop-shadow(0 1px 0 hsl(174, 0%, 71%))
					drop-shadow(0 2px 0 hsl(174, 0%, 69%))
					drop-shadow(0 3px 0 hsl(174, 0%, 67%))
					// drop-shadow(0 4px 0 hsl(174, 0%, 65%))
					drop-shadow(0 1px 2px rgba(#222, .35));

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				z-index: 2;
				background: linear-gradient(90deg, transparent, rgba(#fff,.75), transparent);
			}

			&.active {
				top: 3px;
				filter: drop-shadow(0 1px 0 hsl(174, 0%, 71%))
						drop-shadow(0 1px 1px rgba(#222, .2));

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: -1px;
					z-index: 2;
					border-radius: inherit;
					box-shadow: 0 0 0 5px rgba(#000,.05);
				}
			}

			i[class^="icon-"],
			i[class*="icon-"] {
				top: -9px;

				&.icon-droid-info { filter: drop-shadow(0 1px 0 rgba(#fff,.8)); }
			}

			span, i {
				pointer-events: none;
			}

			.droid {
				position: relative;
				top: 3px;
				display: inline-block;
				filter: drop-shadow(0 1px 0 rgba(#fff,.5));

				&:before {
					top: 0;
					left: 0;
					animation: none;
					filter: invert(1) brightness(.75);
					// transform: rotate(180deg);
				}

				b {
					filter: invert(1) brightness(.75);
				}
			}
		}
	}

	.data {
		flex: 1;
	}
}
