
content {
	&.fade-out[data-show] {
		// before animation
		.console-view {
			.menu {
				.option {
					opacity: 0;
					transform: translateY(15px);
					transition: all 200ms ease-in-out;
				}
			}
		}

		&[data-show="console"].fade-in {
			transition-duration: 500ms;

			// start transition
			.console-view {
				.menu {
					.option {
						opacity: 1;
						transform: translateY(0px);

						&:nth-child(1) { transition-delay: 0ms; }
						&:nth-child(2) { transition-delay: 100ms; }
						&:nth-child(3) { transition-delay: 200ms; }
						&:nth-child(4) { transition-delay: 300ms; }
					}
				}
			}
		}
	}
}

.console-view {
	display: flex;
	padding: 7px 17px 7px 7px;
	border-radius: 6px;
	background: radial-gradient(ellipse at 50% 50%, rgba(#fff,.5), transparent 115%);
	--outline: #b3b3b3;
	
	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 15px;
		bottom: 5px;
		z-index: 3;
		border-radius: 4px;
		border: 2px solid var( --outline );
		pointer-events: none;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: repeating-linear-gradient(90deg, #a2a2a20d 0, #a2a2a20d 1px, transparent 1px, transparent 44px),
							repeating-linear-gradient(0deg, #a2a2a20d 0, #a2a2a20d 1px, transparent 1px, transparent 44px),
							repeating-linear-gradient(0deg, #a2a2a212 0, #a2a2a212 1px, transparent 1px, transparent 11px),
							repeating-linear-gradient(90deg, #a2a2a212 0, #a2a2a212 1px, transparent 1px, transparent 11px);
		background-position: -5px -24px;
		pointer-events: none;
	}

	.menu {
		position: relative;
		z-index: 2;
		width: 91px;
		text-align: center;
		// border-right: 2px solid #7caae6;

		.option {
			position: relative;
			display: block;
			width: 90px;
			height: 90px;
			margin: 0 0 21px;
			padding: 19px 0 0;

			i[class^="icon-"],
			i[class*="icon-"] {
				
			}

			span {
				position: relative;
				top: 3px;
				display: inline-block;
				opacity: .35;
				// filter: invert(1) brightness(1.15);

				&:before {
					left: 0;
					animation: none;
				}
			}
		}
	}

	.data {
		position: relative;
		z-index: 2;
		flex: 1;
		font-family: "Helvetica Neue";
		text-transform: uppercase;
		font-weight: 400;
		color: #9b9b9b;

		h5 {
			position: absolute;
			bottom: 0;
			right: -3px;
			transform: rotate(90deg);
			transform-origin: bottom right;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 11px;
			font-weight: 400;
			color: #999;
		}

		.blueprint {
			background: url(~/icons/bp-999.png) 50% 50%/contain no-repeat;
			position: absolute;
			top: 65px;
			left: 21px;
			width: 527px;
			height: 318px;
		}

		.info {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 193px;
			background: #eee2;
			border-top-left-radius: 4px;
			border: 2px solid var( --outline );
			border-bottom: 0;
			border-right: 0;

			div.row {
				display: flex;
				border-bottom: 1px solid var( --outline );

				span {
					display: inline-block;

					&:nth-child(1) {
						width: 137px;
						border-right: 1px solid var( --outline );
					}

					&:nth-child(2) {
						flex: 1;
					}
				}
			}

			span {
				display: block;
				padding: 3px 5px 2px;
				font-size: 11px;

				&.unit {
					font-size: 15px;
					font-weight: 500;
					border-bottom: 1px solid var( --outline );
					color: #888;
				}

				&.ship {
					position: relative;
					padding-left: 24px;
					font-size: 13px;
					border-bottom: 1px solid var( --outline );

					&:before {
						content: "";
						background: url(~/icons/icon-tre-kronor.png) 50% 50%/contain no-repeat;
						position: absolute;
						top: 1px;
						left: 5px;
						width: 16px;
						height: 16px;
						opacity: .5;
					}
				}

				&.type {

				}

				&.weight {

				}

				&.class {

				}

				&.speed {

				}

				&.notes {
					font-size: 9px;
					line-height: 1.35;
					color: #888;
				}
			}
		}
	}
}

