
content {
	&.fade-out[data-show] {
		// before animation
		.console-view {
			.menu {
				.option {
					opacity: 0;
					transform: translateY(15px);
					transition: all 200ms ease-in-out;
				}
			}
		}

		&[data-show="console"].fade-in {
			transition-duration: 500ms;

			// start transition
			.console-view {
				.menu {
					.option {
						opacity: 1;
						transform: translateY(0px);

						&:nth-child(1) { transition-delay: 0ms; }
						&:nth-child(2) { transition-delay: 100ms; }
						&:nth-child(3) { transition-delay: 200ms; }
						&:nth-child(4) { transition-delay: 300ms; }
					}
				}
			}
		}
	}
}

.console-view {
	display: flex;
	padding: 9px 17px 9px 9px;
	// text-shadow: 0 1px 1px rgba(#fff,.85);
	border-radius: 6px;
	background-image: repeating-linear-gradient(90deg, #f5f5f50d 0, #f5f5f50d 1px, transparent 1px, transparent 44px),
						repeating-linear-gradient(0deg, #f5f5f50d 0, #f5f5f50d 1px, transparent 1px, transparent 44px),
						repeating-linear-gradient(0deg, #f5f5f512 0, #f5f5f512 1px, transparent 1px, transparent 11px),
						repeating-linear-gradient(90deg, #f5f5f512 0, #f5f5f512 1px, transparent 1px, transparent 11px),
						linear-gradient(45deg, #357ad0, #357ad0);
	background-position: -34px -19px;

	&:before {
		content: "";
		position: absolute;
		top: 9px;
		left: 9px;
		right: 15px;
		bottom: 9px;
		// border-radius: 4px;
		border: 2px solid #b4d5ff;
	}

	.menu {
		position: relative;
		width: 83px;
		text-align: center;
		// border-right: 2px solid #7caae6;

		.option {
			position: relative;
			display: block;
			width: 90px;
			height: 90px;
			margin: 0 0 21px;
			padding: 19px 0 0;

			i[class^="icon-"],
			i[class*="icon-"] {
				filter: invert(1) brightness(1.15);
			}

			span {
				position: relative;
				top: 3px;
				display: inline-block;
				filter: invert(1) brightness(1.15);

				&:before {
					left: 0;
				}
			}
		}
	}

	.data {
		position: relative;
		flex: 1;
		font-family: "Helvetica Neue";
		text-transform: uppercase;
		font-weight: 200;
		color: #fff;

		h2 {
			position: absolute;
			top: 7px;
			right: 9px;
			text-align: right;
			letter-spacing: 1px;
			font-size: 24px;
			text-shadow: 0 0 3px #fffa;
		}

		h5 {
			position: absolute;
			bottom: 0;
			right: -4px;
			transform: rotate(90deg);
			transform-origin: bottom right;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 11px;
			font-weight: 200;
			color: #fff8;
		}

		.info {
			position: absolute;
			bottom: 2px;
			right: 0;
			width: 317px;
			height: 65px;
			background: #357ad077;
			border: 2px solid #b4d5ff;
			border-bottom: 0;
			border-right: 0;

			&:before {
				content: "";
				position: absolute;
				top: 24px;
				left: 0;
				width: 177px;
				height: 38px;
				border-top: 1px solid #b4d5ff;
				border-right: 1px solid #b4d5ff;
			}

			&:after {
				content: "";
				position: absolute;
				top: 24px;
				right: 0;
				width: 137px;
				height: 18px;
				border-top: 1px solid #b4d5ff;
				border-bottom: 1px solid #b4d5ff;
			}

			h3 {
				position: absolute;
				top: 5px;
				left: 5px;
				font-size: 14px;
				font-weight: 400;
			}

			h4 {
				position: absolute;
				top: 29px;
				right: 0;
				width: 132px;
				font-size: 11px;
				font-weight: 200;

				&.class {
					
				}

				&.weight {
					top: 47px;
				}
			}
		}
	}
}

