
content {
	&.fade-out[data-show] {
		// before animation
		.finished-view {
			
		}

		&[data-show="finished"].fade-in {
			transition-delay: 900ms;

			.finished-view {
				
			}
		}
	}

	&[data-show="finished"].leave {
		.finished-view {
			
		}
	}
}


.finished-view {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.congrats {
		padding: 73px 0;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
		color: #999;

		h2 {
			font-family: "ParaDrew";
			font-size: 50px;
		}

		.ship {
			position: relative;
			display: inline-block;
			width: 140px;
			height: 140px;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url(~/icons/icon-ship.png);
		}
	}
}
