
.hud-view {
	top: 7px;
	left: 7px;
	right: 7px;
	height: 41px;
	display: flex;
	z-index: 2;
	border-radius: 6px;
	font-family: "ParaDrew";
	font-size: 27px;


	// .right,
	.left {
		position: relative;
		flex: 1;

		.bar {
			top: -15px;

			.box {
				transform: rotateX(80deg) rotateY(0deg);
				--c1: #d242ed;

				> div {
					&.top {
						transform: rotateX(0deg) rotateY(0) translateX(0) translateY(60px) translateZ(30px);
						height: 24px;

						&:before {
							height: 20px;
						}
					}

					&.back {
						transform: rotateX(90deg) rotateY(0) translateX(0) translateY(15px) translateZ(-10px);
						height: 30px;

						&:before {
							height: 30px;
						}
					}

					&.bottom {
						transform: translateY(3px);

						&:before {
							height: 20px;
						}
					}

					&.empty {
						width: 20px;
						transform: rotateX(90deg) rotateY(-90deg) translateX(20px) translateY(15px) translateZ(10px);
					}

					&.full {
						width: 20px;
						height: 30px;
						transform: rotateX(90deg) rotateY(-90deg) translateX(37px) translateY(16px) translateZ(-8px);
						opacity: .35;
					}

					&.front {
						transform: rotateX(90deg) rotateY(0) translateX(0) translateY(15px) translateZ(30px);
						height: 30px;

						&:before {
							height: 30px;
						}

						&:after {
							display: none;
						}
					}
				}
			}
		}

		.view-title {
			padding: 5px 0 0 9px;
			position: absolute;
			top: 3px;
			left: 13px;
			width: 200px;
			height: 34px;
			font-size: 22px;
			color: rgba(#7100ac,.75);
			text-shadow: 0 1px 0 #e186ff;
			pointer-events: none;
		}
	}

	.right {
		position: relative;
		// flex: 1;
		width: 210px;
	}

	.center {
		position: relative;
		width: 312px;
		margin: 0 11px;
		text-align: center;

		.hud-logo {
			display: inline-block;
			position: relative;
			top: 1px;
			width: inherit;
			height: 45px;

			b[class^="logo-"] {
				// background: rgba(#f00,.6);
				position: absolute;
				top: 5px;
				left: 0;
				width: 34px;
				height: 24px;
				z-index: 2;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: inherit;
				filter: drop-shadow(0 1px 0 hsl(174, 0%, 90%))
						drop-shadow(0 2px 0 hsl(174, 0%, 85%))
						drop-shadow(0 3px 0 hsl(174, 0%, 80%))
						drop-shadow(0 1px 2px rgba(#000, .25));

				&.logo-c1-p {
					background-image: url(~/icons/logo-p.png);
					left: 0px;
				}

				&.logo-c2-a {
					background-image: url(~/icons/logo-a.png);
					left: 36px;
				}

				&.logo-c3-r {
					background-image: url(~/icons/logo-r.png);
					left: 72px;
				}

				&.logo-c4-a {
					background-image: url(~/icons/logo-a.png);
					left: 108px;
				}

				&.logo-c5-d {
					background-image: url(~/icons/logo-d.png);
					left: 144px;
				}

				&.logo-c6-r {
					background-image: url(~/icons/logo-r.png);
					left: 180px;
				}

				&.logo-c7-o {
					background-image: url(~/icons/logo-o.png);
					left: 216px;
				}

				&.logo-c8-i {
					background-image: url(~/icons/logo-i.png);
					left: 252px;
					width: 24px;
				}

				&.logo-c9-d {
					background-image: url(~/icons/logo-d.png);
					left: 278px;
				}
			}

			svg {
				width: inherit;
				height: inherit;
				overflow: visible;
				filter: drop-shadow(0 1px 0 hsl(174, 0%, 93%))
						drop-shadow(0 2px 1px hsl(174, 0%, 88%))
						drop-shadow(0 3px 0 hsl(174, 0%, 83%))
						drop-shadow(0 1px 2px rgba(#000, .3));
			}
		}
	}
}
