
content {
	&.fade-out[data-show] {
		// before animation
		.lift-view {
			.ship {
				.deck {
					opacity: 0;
					scale: 0.9;
					transform: translateY(15px);
					transition: all 120ms ease-in-out;
				}
				
				.lift {
					opacity: 0;
					scale: 1.15;
					transition: all 120ms ease-in-out;
				}
			}
		}

		&[data-show="lift"].fade-in {
			transition-duration: 900ms;

			// start transition
			.lift-view {
				.ship {
					.deck {
						opacity: 1;
						scale: 1;
						transform: translateY(0px);

						&[data-id="1"] { transition-delay: 0ms; }
						&[data-id="2"] { transition-delay: 50ms; }
						&[data-id="3"] { transition-delay: 100ms; }
						&[data-id="4"] { transition-delay: 150ms; }
						&[data-id="5"] { transition-delay: 200ms; }
						&[data-id="6"] { transition-delay: 250ms; }
						&[data-id="7"] { transition-delay: 300ms; }
						&[data-id="8"] { transition-delay: 350ms; }
						&[data-id="9"] { transition-delay: 400ms; }
						&[data-id="10"] { transition-delay: 450ms; }
					}

					.lift {
						opacity: 1;
						scale: 1;

						&[data-id="1"] { transition-delay: 500ms; }
						&[data-id="2"] { transition-delay: 550ms; }
						&[data-id="3"] { transition-delay: 600ms; }
						&[data-id="4"] { transition-delay: 650ms; }
						&[data-id="5"] { transition-delay: 700ms; }
						&[data-id="6"] { transition-delay: 750ms; }
						&[data-id="7"] { transition-delay: 800ms; }
						&[data-id="8"] { transition-delay: 850ms; }
					}
				}
			}
		}
	}

	&[data-show="lift"].paused {
		div.paused-view {
			top: 52px;
		}

		div.lift-view {
			opacity: .35;

			.lift.active {
				.elevator:before {
					animation: none;
				}
			}
		}
	}

	// &.fade-out[data-show="lift"]:not(.fade-in) {
	// 	transition-duration: 300ms;

	// 	// start transition
	// 	.lift-view {
	// 		transition: all 300ms ease-in-out;

	// 		.ship {
	// 			.lift,
	// 			.deck {
	// 				opacity: 1;
	// 				scale: 1;
	// 				transform: translateY(0px);
	// 				transition-duration: 300ms;
	// 			}
	// 		}
	// 	}
	// }

	// &[data-show="lift"] {
	// 	> div.lift-view {
	// 		.elevator {
	// 			transition: top 180ms ease-in-out;
	// 		}
	// 	}
	// }
}

.lift-view {
	.box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// height: 67%;
		border-radius: 4px;
		// background: rgba(#809,.5) radial-gradient(ellipse at top center, rgba(#fef,.25), transparent);
		box-shadow: inset 0 0 1px rgba(#666,.15),
					inset 0 1px 1px rgba(#666,.35),
					inset 0 -1px 0 rgba(#666,.15),
					// inset 0px 6px 0px 0px rgba(#b3c,.2),
					inset 0 2px 0 rgba(#fff,.3);

		&:before {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(90deg, transparent 5%, rgba(#fff,.35), transparent 95%);
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(90deg, transparent 5%, rgba(#fff,.35), transparent 95%);
		}
	}

	.ship {
		position: relative;
		z-index: 2;
		width: 600px;
		height: 211px;
		margin: 49px auto 0;
		padding: 8px 0 0 0;

		.section.cleared {
			filter: grayscale(1) brightness(.9);
		}

		&[data-active-level="1"] {
			.section[data-id="5"],
			.section[data-id="19"] { background: var( --color ); }
		}

		&[data-active-level="2"] {
			.section[data-id="18"],
			.section[data-id="20"] { background: var( --color ); }
		}

		&[data-active-level="3"] {
			.section[data-id="3"] { background: var( --color ); }
		}

		&[data-active-level="4"] {
			.section[data-id="17"] { background: var( --color ); }
		}

		&[data-active-level="5"] {
			.section[data-id="16"] { background: var( --color ); }
		}

		&[data-active-level="6"] {
			.section[data-id="15"] { background: var( --color ); }
		}

		&[data-active-level="7"] {
			.section[data-id="14"] { background: var( --color ); }
		}

		&[data-active-level="8"] {
			.section[data-id="13"] { background: var( --color ); }
		}

		&[data-active-level="9"] {
			.section[data-id="12"] { background: var( --color ); }
		}

		&[data-active-level="10"] {
			.section[data-id="9"] { background: var( --color ); }
		}

		&[data-active-level="11"] {
			.section[data-id="7"] { background: var( --color ); }
		}

		&[data-active-level="12"] {
			.section[data-id="8"] { background: var( --color ); }
		}

		&[data-active-level="13"] {
			.section[data-id="2"],
			.section[data-id="11"] { background: var( --color ); }
		}

		&[data-active-level="14"] {
			.section[data-id="1"],
			.section[data-id="10"] { background: var( --color ); }
		}

		&[data-active-level="15"] {
			.section[data-id="4"] { background: var( --color ); }
		}

		&[data-active-level="16"] {
			.section[data-id="6"] { background: var( --color ); }
		}

		.lift {
			position: absolute;
			width: 18px;
			background: #909090;
			box-shadow: inset 0 0 0 2px #333;

			&.active {
				z-index: 2;
				background: #7af;
				box-shadow: inset 0 0 0 2px #228;

				.elevator {
					display: block;
				}
			}

			.elevator {
				display: none;
				position: absolute;
				top: 0;
				left: 2px;
				right: 2px;
				height: 18px;
				background: #eee;
				border-top: 2px solid #228;
				border-bottom: 2px solid #228;

				&:before {
					content: "";
					position: absolute;
					top: -1px;
					left: -1px;
					right: -1px;
					bottom: -1px;
					box-shadow: 0 0 5px #fff;
					background: #fff;
					transform-origin: 50% 50%;
					animation: pulse 1750ms ease-out infinite;
				}
			}

			&[data-id="1"] {
				left: 81px;
				top: 8px;
				height: 162px;

				&[data-section="5"] .elevator { top: 0px; }
				&[data-section="4"] .elevator { top: 16px; }
				&[data-section="3"] .elevator { top: 32px; }
				&[data-section="2"] .elevator { top: 128px; }
				&[data-section="1"] .elevator { top: 144px; }
			}

			&[data-id="2"] {
				left: 144px;
				top: 56px;
				height: 146px;

				&[data-section="8"] .elevator { top: 32px; }
				&[data-section="7"] .elevator { top: 80px; }
				&[data-section="6"] .elevator { top: 128px; }
			}

			&[data-id="3"] {
				left: 222px;
				top: 24px;
				height: 34px;

				&[data-section="18"] .elevator { top: 0px; }
				&[data-section="3"] .elevator { top: 16px; }
			}

			&[data-id="4"] {
				left: 303px;
				top: 8px;
				height: 82px;

				&[data-section="19"] .elevator { top: 0px; }
				&[data-section="18"] .elevator { top: 16px; }
				&[data-section="17"] .elevator { top: 32px; }
				&[data-section="16"] .elevator { top: 48px; }
				&[data-section="15"] .elevator { top: 64px; }
			}

			&[data-id="5"] {
				left: 319px;
				top: 72px;
				height: 114px;

				&[data-section="15"] .elevator { top: 0px; }
				&[data-section="8"] .elevator { top: 16px; }
				&[data-section="7"] .elevator { top: 64px; }
				&[data-section="9"] .elevator { top: 96px; }
			}

			&[data-id="6"] {
				left: 364px;
				top: 120px;
				height: 50px;

				&[data-section="12"] .elevator { top: 0px; }
				&[data-section="11"] .elevator { top: 16px; }
				&[data-section="10"] .elevator { top: 32px; }
			}

			&[data-id="7"] {
				left: 397px;
				top: 40px;
				height: 98px;

				&[data-section="17"] .elevator { top: 0px; }
				&[data-section="16"] .elevator { top: 16px; }
				&[data-section="15"] .elevator { top: 32px; }
				&[data-section="14"] .elevator { top: 48px; }
				&[data-section="13"] .elevator { top: 64px; }
				&[data-section="12"] .elevator { top: 80px; }
			}

			&[data-id="8"] {
				left: 426px;
				top: 24px;
				height: 34px;

				&[data-section="20"] .elevator { top: 0px; }
				&[data-section="17"] .elevator { top: 16px; }
			}
		}

		.deck {
			position: relative;
			height: 18px;
			margin-bottom: -2px;

			.section {
				position: absolute;
				top: 0;
				height: inherit;
				background: #999;
				box-shadow: inset 0 0 0 2px #333;

				&:before {
					content: "";
					// content: attr(data-id);
					background-image: radial-gradient(ellipse at top center, rgba(#fff,.2), transparent);
					position: absolute;
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
					border-radius: inherit;
					font-size: 9px;
					padding: 3px 0 0 17px;
				}

				&:after {
					content: "";
					position: absolute;
					top: 2px;
					left: 0;
					right: 0;
					height: 1px;
					background: linear-gradient(90deg, transparent, rgba(#fff,.5), transparent);
				}

				&[data-id="1"],
				&[data-id="2"],
				&[data-id="3"],
				&[data-id="9"],
				&[data-id="16"],
				&[data-id="17"],
				&[data-id="19"] {
					&:before { padding-left: 2px; }
				}

				&[data-id="15"] {
					&:before { padding-left: 33px; }
				}
			}

			&[data-id="1"] {
				.section:nth-child(1) {
					left: 81px;
					width: 51px;
					border-radius: 0 30px 0 0;
					
					&:after { right: 15px; }
				}

				.section:nth-child(2) {
					left: 285px;
					width: 54px;
					border-radius: 0 30px 0 0;
					
					&:after { right: 15px; }
				}
			}

			&[data-id="2"] {
				.section:nth-child(1) {
					left: 81px;
					width: 114px;
				}

				.section:nth-child(2) {
					left: 222px;
					width: 177px;
				}

				.section:nth-child(3) {
					left: 426px;
					width: 38px;
					border-radius: 0 30px 0 0;
					
					&:after { right: 15px; }
				}
			}

			&[data-id="3"] {
				.section:nth-child(1) {
					left: 49px;
					width: 191px;
				}

				.section:nth-child(2) {
					left: 238px;
					width: 287px;
				}
			}

			&[data-id="4"] {
				.section:nth-child(1) {
					left: 144px;
					width: 177px;
					height: 50px;
				}

				.section:nth-child(2) {
					left: 270px;
					width: 286px;
				}
			}

			&[data-id="5"] {
				.section:nth-child(1) {
					left: 303px;
					width: 286px;
				}
			}

			&[data-id="6"] {
				.section:nth-child(1) {
					left: 319px;
					width: 238px;
				}
			}

			&[data-id="7"] {
				.section:nth-child(1) {
					left: 144px;
					width: 177px;
					height: 50px;
				}

				.section:nth-child(2) {
					left: 319px;
					width: 206px;
				}
			}

			&[data-id="8"] {
				.section:nth-child(1) {
					left: 319px;
					width: 144px;
				}
			}

			&[data-id="9"] {
				.section:nth-child(1) {
					left: 3px;
					width: 159px;
				}

				.section:nth-child(2) {
					left: 319px;
					width: 80px;
				}
			}

			&[data-id="10"] {
				.section:nth-child(1) {
					left: 3px;
					width: 159px;
				}

				.section:nth-child(2) {
					left: 144px;
					width: 129px;
					height: 50px;
				}

				.section:nth-child(3) {
					left: 271px;
					width: 66px;
					height: 34px;
				}

				.section:nth-child(4) {
					left: 319px;
					width: 49px;
				}
			}
		}
	}
}

@keyframes pulse {
	0% { opacity: 1; transform: scale(1); }
	80%,
	100% { opacity: 0; transform: scale(2.25); }
}
