
overflow: visible;
background: transparent;


@import "editor";


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;

	&[data-show="start"] {
		> div.start-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="edit"] {
		> div.edit-view {
			opacity: 1;
			visibility: visible;
		}
	}

	> div {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
	}

	.start-view {
		background: radial-gradient(ellipse at top center, #ddd, transparent),
					linear-gradient(180deg, #ccc, #a2a2a2);

		.logo {
			position: relative;
			margin: 47px auto 19px;
			width: 480px;
			height: 300px;
			filter: drop-shadow(0 2px 7px rgba(0, 0, 0, .15));

			svg {
				position: absolute;
				top: 0;
				left: 0;
				// z-index: 2;
				width: inherit;
				height: inherit;
				overflow: visible;

				&.logo-text {
					top: -10px;
					filter: drop-shadow(0 1px 0 hsl(174, 0%, 93%))
							drop-shadow(0 2px 0 hsl(174, 0%, 88%))
							drop-shadow(0 3px 1px hsl(174, 0%, 83%))
							drop-shadow(0 4px 0 hsl(174, 0%, 79%))
							drop-shadow(0 5px 0 hsl(174, 0%, 77%))
							drop-shadow(0 1px 2px rgba(0, 0, 0, .15));
				}

				&.boxes {
					filter: drop-shadow(0 1px 0 hsl(174, 0%, 73%))
							drop-shadow(0 2px 0 hsl(174, 0%, 68%))
							drop-shadow(0 3px 0 hsl(174, 0%, 63%))
							drop-shadow(0 1px 2px rgba(0, 0, 0, .15));
				}
			}
		}
	}
}
