
overflow: visible;
background: transparent;


@import "editor";


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: radial-gradient(ellipse at top center, #ddd, transparent),
				linear-gradient(180deg, #ccc, #a2a2a2);


	&[data-show="start"] {
		> div.start-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="lift"] {
		> div.lift-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="challenge"] {
		> div.challenge-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="console"] {
		> div.console-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="edit"] {
		> div.edit-view {
			opacity: 1;
			visibility: visible;
		}
	}

	> div {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
	}

	.start-view {
		.logo {
			position: relative;
			margin: 47px auto 19px;
			width: 480px;
			height: 300px;
			filter: drop-shadow(0 2px 7px rgba(0, 0, 0, .15));

			> div {
				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;

				svg {
					width: inherit;
					height: inherit;
					overflow: visible;
				}

				&.boxes-top {
					z-index: 1;

					svg {
						filter: drop-shadow(0 1px 0 hsl(174, 0%, 73%))
								drop-shadow(0 2px 0 hsl(174, 0%, 68%))
								drop-shadow(0 3px 0 hsl(174, 0%, 63%))
								drop-shadow(0 4px 0 hsl(174, 0%, 60%))
								drop-shadow(0 1px 2px rgba(0, 0, 0, .1));
					}

					&:before,
					&:after {
						content: "";
						position: absolute;
						top: 144px;
						left: 5px;
						width: 83px;
						height: 1px;
						z-index: 2;
						background: linear-gradient(90deg, transparent, rgba(#fff,.75), transparent);
					}

					&:after {
						left: 211px;
						width: 263px;
					}
				}

				&.logo-text {
					top: -6px;
					z-index: 2;

					svg {
						filter: drop-shadow(0 1px 0 hsl(174, 0%, 93%))
								drop-shadow(0 2px 0 hsl(174, 0%, 88%))
								drop-shadow(0 3px 1px hsl(174, 0%, 83%))
								drop-shadow(0 4px 0 hsl(174, 0%, 79%))
								drop-shadow(0 5px 0 hsl(174, 0%, 77%))
								drop-shadow(0 1px 2px rgba(#000, .15));
					}
				}

				&.boxes-bottom {
					z-index: 3;
					
					svg {
						filter: drop-shadow(0 1px 0 hsl(174, 0%, 73%))
								drop-shadow(0 2px 0 hsl(174, 0%, 64%))
								drop-shadow(0 3px 0 hsl(174, 0%, 59%))
								drop-shadow(0 4px 0 hsl(174, 0%, 56%))
								drop-shadow(0 1px 2px rgba(#000, .1));
					}

					&:before,
					&:after {
						content: "";
						position: absolute;
						top: 298px;
						left: 5px;
						width: 83px;
						height: 1px;
						z-index: 2;
						background: linear-gradient(90deg, transparent, rgba(#fff,.75), transparent);
					}

					&:after {
						left: 211px;
						width: 263px;
					}
				}
			}
		}

		.droid-001 {
			position: absolute;
			top: 376px;
			left: 290px;
			width: 64px;
			height: 64px;
			background: url(~/icons/droid-001.png) 50% 50%/contain no-repeat;
			filter: drop-shadow(0 1px 1px hsl(174, 0%, 88%))
					// drop-shadow(0 2px 1px hsl(174, 0%, 83%))
					drop-shadow(0 2px 4px rgba(#000,.25));
		}
	}

	.lift-view {
		.ship {
			position: relative;
			width: 600px;
			height: 211px;
			margin: 83px auto;
			padding: 8px 0 0 0;
			// box-shadow: 0 0 0 1px #999;
			// background: url(~/img/ship.png) 0 0/contain no-repeat;
			background-size: 100% auto;

			.lift {
				position: absolute;
				width: 18px;
				background: #7af;
				filter: grayscale(.85);
				box-shadow: inset 0 0 0 2px #44a;

				&[data-id="1"] { left: 81px; top: 8px; height: 162px; }
				&[data-id="2"] { left: 144px; top: 56px; height: 146px; }
				&[data-id="3"] { left: 222px; top: 24px; height: 34px; }
				&[data-id="4"] { left: 303px; top: 8px; height: 82px; }
				&[data-id="5"] { left: 319px; top: 72px; height: 112px; }
				&[data-id="6"] { left: 350px; top: 120px; height: 50px; }
				&[data-id="7"] { left: 397px; top: 40px; height: 98px; }
				&[data-id="8"] { left: 426px; top: 24px; height: 34px; }

				&.active {
					filter: none;
					background: linear-gradient(90deg, rgba(215, 131, 227, 0.5), transparent),
							  	conic-gradient(from 150deg at 25%, transparent 40deg, #8b42ab 0%) 0/ 0.7em,
							  	conic-gradient(from 150deg at 75%, #8b42ab 40deg, #9956b3 0%) 0/ 0.7em;

					.elevator {
						display: block;
					}
				}

				.elevator {
					display: none;
					position: absolute;
					top: 0;
					left: 2px;
					right: 2px;
					height: 18px;
					background: #eee;
					border-top: 2px solid #44a;
					border-bottom: 2px solid #44a;

					&:before {
						content: "";
						position: absolute;
						top: -1px;
						left: -1px;
						right: -1px;
						bottom: -1px;
						box-shadow: 0 0 5px #fff;
						background: #fff;
						transform-origin: 50% 50%;
						animation: pulse 1750ms ease-out infinite;
					}
				}
			}

			.deck {
				position: relative;
				height: 18px;
				margin-bottom: -2px;
				filter: grayscale(.35);
				--fg: rgba(#fff,.65);

				.level {
					position: absolute;
					top: 0;
					height: inherit;
					background: var( --fg );
					box-shadow: inset 0 0 0 2px #555;

					&:after {
						content: "";
						position: absolute;
						top: 2px;
						left: 0;
						right: 0;
						height: 1px;
						background: linear-gradient(90deg, transparent, rgba(#fff,.65), transparent);
					}
				}

				&[data-id="1"] {
					--fg: #a19589;

					.level[data-sub="1"] {
						left: 81px;
						width: 51px;
						border-radius: 0 30px 0 0;
						
						&:after { right: 15px; }
					}

					.level[data-sub="2"] {
						left: 285px;
						width: 54px;
						border-radius: 0 30px 0 0;
						
						&:after { right: 15px; }
					}
				}

				&[data-id="2"] {
					--fg: #e84f46;
					
					.level[data-sub="1"] {
						left: 81px;
						width: 114px;
					}

					.level[data-sub="2"] {
						left: 222px;
						width: 177px;
					}

					.level[data-sub="3"] {
						left: 426px;
						width: 38px;
						border-radius: 0 30px 0 0;
						
						&:after { right: 15px; }
					}
				}

				&[data-id="3"] {
					--fg: #f1cd02;
					
					.level[data-sub="1"] {
						left: 49px;
						width: 191px;
						--fg: #ff9bf2;
					}

					.level[data-sub="2"] {
						left: 238px;
						width: 287px;
					}
				}

				&[data-id="4"] {
					--fg: #a1fc60;
					
					.level[data-sub="1"] {
						left: 144px;
						width: 177px;
						height: 50px;
						--fg: #00ceb2;
					}

					.level[data-sub="2"] {
						left: 270px;
						width: 286px;
					}
				}

				&[data-id="5"] {
					--fg: #a19589;
					
					.level[data-sub="1"] {
						left: 303px;
						width: 286px;
					}
				}

				&[data-id="6"] {
					--fg: #4bd36a;
					
					.level[data-sub="1"] {
						left: 319px;
						width: 238px;
					}
				}

				&[data-id="7"] {
					--fg: #7175f9;
					
					.level[data-sub="1"] {
						left: 144px;
						width: 177px;
						height: 50px;
						--fg: #666ae1;
					}

					.level[data-sub="2"] {
						left: 319px;
						width: 206px;
					}
				}

				&[data-id="8"] {
					--fg: #e84f46;
					
					.level[data-sub="1"] {
						left: 319px;
						width: 144px;
					}
				}

				&[data-id="9"] {
					--fg: #a1fb60;
					
					.level[data-sub="1"] {
						left: 3px;
						width: 159px;
					}

					.level[data-sub="2"] {
						left: 319px;
						width: 80px;
					}
				}

				&[data-id="10"] {
					--fg: #f68f8f;
					
					.level[data-sub="1"] {
						left: 3px;
						width: 159px;
					}

					.level[data-sub="2"] {
						left: 144px;
						width: 129px;
						height: 50px;
						--fg: #f90;
					}

					.level[data-sub="3"] {
						left: 271px;
						width: 66px;
						height: 32px;
						--fg: #e3f;
					}

					.level[data-sub="4"] {
						left: 319px;
						width: 49px;
					}
				}
			}
		}
	}

	.challenge-view {
		.board {
			position: absolute;
			top: 100px;
			left: 30px;
			right: 30px;
			bottom: 30px;
			display: flex;

			.left {
				// background: rgba(#000,.1);
				position: relative;
				flex: 1;
			}
			
			.right {
				// background: rgba(#000,.1);
				position: relative;
				flex: 1;
			}
			
			.center {
				position: relative;
				background: #bbb linear-gradient(180deg, rgba(#fff,.15), transparent 95%);
				width: 90px;
				padding: 11px;
				border-radius: 11px;
				box-shadow: inset 0px 1px 0px 0px rgba(#888,.15),
							0 2px 7px rgba(#000,.175);

				&:before {
					content: "";
					background-image: radial-gradient(ellipse at top center, rgba(#fff,.25), transparent);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
				}

				&:after {
					content: "";
					position: absolute;
					bottom: 6px;
					left: 0;
					right: 0;
					height: 1px;
					background: linear-gradient(90deg, transparent 5%, rgba(#fff,.5), transparent 95%);
				}


				> div {
					position: relative;
					background: #f90;
					margin-bottom: 2px;
					border-radius: 7px;
					box-shadow: inset 0px 4px 0px 0px rgba(#a50,.15),
								inset 0 0 1px rgba(#fff,.5),
								0 0 1px rgba(#000,.25);

					&:before {
						content: "";
						background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.5), transparent);
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: inherit;
					}

					&:after {
						content: "";
						position: absolute;
						bottom: 4px;
						left: 0;
						right: 0;
						height: 1px;
						background: linear-gradient(90deg, transparent 5%, rgba(#fff,.125), transparent 95%);
					}
				}

				.cpu {
					height: 43px;
					margin-bottom: 7px;
				}

				.io-led {
					height: 21px;
					box-shadow: inset 0px 2px 0px 0px rgba(#a50,.15),
								inset 0 0 1px rgba(#fff,.5),
								0 0 1px rgba(#000,.25);

					&:after {
						bottom: 2px;
					}
					
					&.yellow {
						background: #f90;
					}
					
					&.purple {
						background: #90f;
					}
				}
			}
		}
	}
}


@keyframes pulse {
	0% { opacity: 1; transform: scale(1); }
	80%,
	100% { opacity: 0; transform: scale(2.25); }
}

