
overflow: visible;
background: transparent;


@import "editor";


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: radial-gradient(ellipse at top center, #ddd, transparent),
				linear-gradient(180deg, #ccc, #a2a2a2);


	&[data-show="start"] {
		> div.start-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="lift"] {
		> div.lift-view {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="edit"] {
		> div.edit-view {
			opacity: 1;
			visibility: visible;
		}
	}

	> div {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
	}

	.start-view {
		.logo {
			position: relative;
			margin: 47px auto 19px;
			width: 480px;
			height: 300px;
			filter: drop-shadow(0 2px 7px rgba(0, 0, 0, .15));

			svg {
				position: absolute;
				top: 0;
				left: 0;
				// z-index: 2;
				width: inherit;
				height: inherit;
				overflow: visible;

				&.logo-text {
					top: -10px;
					filter: drop-shadow(0 1px 0 hsl(174, 0%, 93%))
							drop-shadow(0 2px 0 hsl(174, 0%, 88%))
							drop-shadow(0 3px 1px hsl(174, 0%, 83%))
							drop-shadow(0 4px 0 hsl(174, 0%, 79%))
							drop-shadow(0 5px 0 hsl(174, 0%, 77%))
							drop-shadow(0 1px 2px rgba(0, 0, 0, .15));
				}

				&.boxes {
					filter: drop-shadow(0 1px 0 hsl(174, 0%, 73%))
							drop-shadow(0 2px 0 hsl(174, 0%, 68%))
							drop-shadow(0 3px 0 hsl(174, 0%, 63%))
							drop-shadow(0 1px 2px rgba(0, 0, 0, .15));
				}
			}
		}
	}

	.lift-view {
		.ship {
			position: relative;
			width: 600px;
			height: 211px;
			margin: 53px auto;
			padding: 8px 0 0 0;
			box-shadow: 0 0 0 1px #999;
			// background: url(~/img/ship.png) 0 0/contain no-repeat;
			background-size: 100% auto;

			.deck {
				position: relative;
				height: 18px;
				margin-bottom: -2px;
				// box-shadow: 0 0 0 1px #999;

				.level {
					position: absolute;
					top: 0;
					height: inherit;
					background: rgba(#fff,.65);
					box-shadow: inset 0 0 0 2px #d55;
				}

				&[data-id="1"] {
					.level[data-sub="1"] { left: 81px; width: 51px; border-radius: 0 30px 0 0; }
					.level[data-sub="2"] { left: 285px; width: 54px; border-radius: 0 30px 0 0; }
				}

				&[data-id="2"] {
					.level[data-sub="1"] { left: 81px; width: 114px; }
					.level[data-sub="2"] { left: 222px; width: 177px; }
					.level[data-sub="3"] { left: 426px; width: 38px; border-radius: 0 30px 0 0; }
				}

				&[data-id="3"] {
					.level[data-sub="1"] { left: 49px; width: 191px; }
					.level[data-sub="2"] { left: 238px; width: 287px; }
				}

				&[data-id="4"] {
					.level[data-sub="1"] { left: 144px; width: 177px; height: 50px; }
					.level[data-sub="2"] { left: 270px; width: 286px; }
				}

				&[data-id="5"] {
					.level[data-sub="1"] { left: 302px; width: 286px; }
				}

				&[data-id="6"] {
					.level[data-sub="1"] { left: 319px; width: 238px; }
				}

				&[data-id="7"] {
					.level[data-sub="1"] { left: 144px; width: 177px; height: 50px; }
					.level[data-sub="2"] { left: 319px; width: 206px; }
				}

				&[data-id="8"] {
					.level[data-sub="1"] { left: 319px; width: 144px; }
				}

				&[data-id="9"] {
					.level[data-sub="1"] { left: 3px; width: 159px; }
					.level[data-sub="2"] { left: 319px; width: 80px; }
				}

				&[data-id="10"] {
					.level[data-sub="1"] { left: 3px; width: 159px; }
					.level[data-sub="2"] { left: 144px; width: 129px; height: 50px; }
					.level[data-sub="3"] { left: 271px; width: 66px; height: 32px; }
					.level[data-sub="4"] { left: 319px; width: 49px; }
				}
			}

			.lift {
				position: absolute;
				width: 18px;
				background: rgba(#369,.65);
				box-shadow: inset 0 0 0 2px #55d;

				&[data-id="1"] { left: 81px; top: 8px; height: 162px; }
				&[data-id="2"] { left: 144px; top: 56px; height: 146px; }
				&[data-id="3"] { left: 222px; top: 24px; height: 34px; }
				&[data-id="4"] { left: 303px; top: 8px; height: 50px; }
				&[data-id="5"] { left: 319px; top: 72px; height: 112px; }
				&[data-id="6"] { left: 350px; top: 120px; height: 50px; }
				&[data-id="7"] { left: 397px; top: 40px; height: 98px; }
				&[data-id="8"] { left: 426px; top: 24px; height: 34px; }
			}
		}
	}
}
