
content.editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 0;
	border-radius: inherit;
	background: #eee;

	&[data-show="background"] .layer-background { display: block; }
	&[data-show="collision"] .layer-collision { display: block; }
	&[data-show="action"] .layer-action { display: block; }
	&[data-show="los"] .layer-los { display: block; }
	&[data-show="light"] .layer-light { display: block; }

	.layer-background {
		display: none;
		background-image: conic-gradient(#bcb 0 25%,#cdc 25% 50%,#bcb 50% 75%,#cdc 75% 100%);
		background-size: 32px 32px;
	}

	.layer-collision {
		display: none;
	}

	.layer-action {
		display: none;
	}

	.layer-los {
		display: none;
	}

	.layer-light {
		display: none;
	}


	.tiles {
		position: relative;
		display: block;
		font-size: 0;
		width: calc( var( --tile ) * var( --w ) );
		height: calc( var( --tile ) * var( --h ) );
		box-shadow: 0 0 0 2px rgba(#000,.75);
		background-image: conic-gradient(#ccc 0 25%,#aaa 25% 50%,#ccc 50% 75%,#aaa 75% 100%);
		background-size: 16px 16px;
		--tile: 32px;

		&.big {
			width: 512px;
			height: 512px;
			--tile-bg: url(~/icons/tiles-32.png);
			--tile: 32px;
		}

		&.small {
			width: 128px;
			height: 128px;
			--tile-bg: url(~/img/tiles-8.png);
			--tile: 8px;
		}

		b {
			background-color: #e07777;

			&.active {
				z-index: 3;
				box-shadow: inset 0 0 0 1px #f00,
							0 0 0 1px #f00;
			}

			&[data-size] {
				&:before {
					content: attr(data-size);
					position: absolute;
					top: 9px;
					left: 0;
					right: 0;
					text-align: center;
					font-size: 13px;
					color: #fff;
					text-shadow: 0 1px 2px rgba(#000,.5);
					z-index: 2;
				}
			}

			&.c4 {
				border-radius: 8px;
			}

			&.c5 {
				background: transparent;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					z-index: 1;
					border-bottom: 32px solid rgba(#060,.5);
					border-left: 32px solid transparent;
				}
			}

			&.c6 {
				background: transparent;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					z-index: 1;
					border-bottom: 32px solid rgba(#060,.5);
					border-right: 32px solid transparent;
				}
			}
		}
	}

	.field {
		margin-top: 12px;
		height: 148px;
		
		.row {
			display: flex;
			height: 31px;

			span {
				flex: 1;
				color: #333;
				font-size: 13px;
				padding: 5px 7px 0;
			}

			input {
				width: 71%;
				box-shadow: 0 0 0 1px rgba(#000,.1);

				// &[name="action-clear"] { opacity: 0; pointer-events: none; }
			}
		}

		.options {
			padding-left: 29%;

			div[data-click] {
				margin: 0;
				border-radius: 0;
			}
		}

		.buttons {
			margin-top: 7px;
			padding-top: 11px;
			border-top: 2px solid #777;
		}

		div[data-click] {
			display: inline-block;
			vertical-align: top;
			margin: 0 2px;
			padding: 3px 7px 0;
			height: 25px;
			font-size: 14px;
			white-space: nowrap;
			background: #aaa;
			border-radius: 7px 0;
			border: 2px solid;
			border-color: #eee #888 #888 #eee;
			cursor: pointer;

			&.hidden {
				opacity: 0;
				pointer-events: none;
			}

			&:active {
				padding-top: 4px;
				height: 24px;
				border-color: #888 #eee #eee #888;
			}
		}
	}

	b {
		position: relative;
		z-index: 2;
		background-image: var( --tile-bg );
		background-repeat: no-repeat;
		background-size: calc( var( --tile ) * 16 ) auto;
		background-position: var( --tile ) var( --tile );
		image-rendering: pixelated;
		display: inline-block;
		width: var( --tile );
		height: var( --tile );
		box-shadow: inset 0 0 0 1px rgba(#000,.15);

		&.c0 { background-color: transparent; }
		&.c1 { background-color: rgba(#060,.5); }
		// &.c2 { background-color: rgba(#060,.5); }
		// &.c3 { background-color: rgba(#060,.5); border-radius: 50%; }
		&.c4 { background-color: rgba(#060,.5); border-radius: 6px; }
		&.c5 { background-color: transparent; }
		&.c6 { background-color: transparent; }

		&.a0 { background-color: transparent; }
		&.a1 { background-color: rgba(#f72,.5); }

		&.m00 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -0 ); }
		&.m01 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -0 ); }
		&.m02 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -0 ); }
		&.m03 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -0 ); }
		&.m04 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -0 ); }
		&.m05 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -0 ); }
		&.m06 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -0 ); }
		&.m07 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -0 ); }
		&.m08 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -0 ); }
		&.m09 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -0 ); }
		&.m0a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -0 ); }
		&.m0b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -0 ); }
		&.m0c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -0 ); }
		&.m0d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -0 ); }
		&.m0e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -0 ); }
		&.m0f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -0 ); }

		&.m10 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -1 ); }
		&.m11 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -1 ); }
		&.m12 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -1 ); }
		&.m13 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -1 ); }
		&.m14 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -1 ); }
		&.m15 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -1 ); }
		&.m16 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -1 ); }
		&.m17 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -1 ); }
		&.m18 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -1 ); }
		&.m19 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -1 ); }
		&.m1a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -1 ); }
		&.m1b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -1 ); }
		&.m1c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -1 ); }
		&.m1d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -1 ); }
		&.m1e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -1 ); }
		&.m1f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -1 ); }

		&.m20 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -2 ); }
		&.m21 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -2 ); }
		&.m22 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -2 ); }
		&.m23 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -2 ); }
		&.m24 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -2 ); }
		&.m25 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -2 ); }
		&.m26 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -2 ); }
		&.m27 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -2 ); }
		&.m28 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -2 ); }
		&.m29 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -2 ); }
		&.m2a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -2 ); }
		&.m2b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -2 ); }
		&.m2c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -2 ); }
		&.m2d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -2 ); }
		&.m2e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -2 ); }
		&.m2f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -2 ); }

		&.m30 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -3 ); }
		&.m31 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -3 ); }
		&.m32 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -3 ); }
		&.m33 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -3 ); }
		&.m34 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -3 ); }
		&.m35 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -3 ); }
		&.m36 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -3 ); }
		&.m37 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -3 ); }
		&.m38 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -3 ); }
		&.m39 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -3 ); }
		&.m3a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -3 ); }
		&.m3b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -3 ); }
		&.m3c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -3 ); }
		&.m3d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -3 ); }
		&.m3e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -3 ); }
		&.m3f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -3 ); }


		&.m40 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -4 ); }
		&.m41 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -4 ); }
		&.m42 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -4 ); }
		&.m43 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -4 ); }
		&.m44 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -4 ); }
		&.m45 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -4 ); }
		&.m46 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -4 ); }
		&.m47 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -4 ); }
		&.m48 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -4 ); }
		&.m49 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -4 ); }
		&.m4a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -4 ); }
		&.m4b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -4 ); }
		&.m4c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -4 ); }
		&.m4d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -4 ); }
		&.m4e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -4 ); }
		&.m4f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -4 ); }

		&.m50 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -5 ); }
		&.m51 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -5 ); }
		&.m52 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -5 ); }
		&.m53 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -5 ); }
		&.m54 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -5 ); }
		&.m55 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -5 ); }
		&.m56 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -5 ); }
		&.m57 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -5 ); }
		&.m58 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -5 ); }
		&.m59 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -5 ); }
		&.m5a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -5 ); }
		&.m5b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -5 ); }
		&.m5c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -5 ); }
		&.m5d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -5 ); }
		&.m5e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -5 ); }
		&.m5f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -5 ); }

		&.m60 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -6 ); }
		&.m61 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -6 ); }
		&.m62 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -6 ); }
		&.m63 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -6 ); }
		&.m64 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -6 ); }
		&.m65 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -6 ); }
		&.m66 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -6 ); }
		&.m67 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -6 ); }
		&.m68 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -6 ); }
		&.m69 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -6 ); }
		&.m6a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -6 ); }
		&.m6b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -6 ); }
		&.m6c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -6 ); }
		&.m6d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -6 ); }
		&.m6e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -6 ); }
		&.m6f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -6 ); }

		&.m70 { background-position: calc( var( --tile ) * -0 ) calc( var( --tile ) * -7 ); }
		&.m71 { background-position: calc( var( --tile ) * -1 ) calc( var( --tile ) * -7 ); }
		&.m72 { background-position: calc( var( --tile ) * -2 ) calc( var( --tile ) * -7 ); }
		&.m73 { background-position: calc( var( --tile ) * -3 ) calc( var( --tile ) * -7 ); }
		&.m74 { background-position: calc( var( --tile ) * -4 ) calc( var( --tile ) * -7 ); }
		&.m75 { background-position: calc( var( --tile ) * -5 ) calc( var( --tile ) * -7 ); }
		&.m76 { background-position: calc( var( --tile ) * -6 ) calc( var( --tile ) * -7 ); }
		&.m77 { background-position: calc( var( --tile ) * -7 ) calc( var( --tile ) * -7 ); }
		&.m78 { background-position: calc( var( --tile ) * -8 ) calc( var( --tile ) * -7 ); }
		&.m79 { background-position: calc( var( --tile ) * -9 ) calc( var( --tile ) * -7 ); }
		&.m7a { background-position: calc( var( --tile ) * -10 ) calc( var( --tile ) * -7 ); }
		&.m7b { background-position: calc( var( --tile ) * -11 ) calc( var( --tile ) * -7 ); }
		&.m7c { background-position: calc( var( --tile ) * -12 ) calc( var( --tile ) * -7 ); }
		&.m7d { background-position: calc( var( --tile ) * -13 ) calc( var( --tile ) * -7 ); }
		&.m7e { background-position: calc( var( --tile ) * -14 ) calc( var( --tile ) * -7 ); }
		&.m7f { background-position: calc( var( --tile ) * -15 ) calc( var( --tile ) * -7 ); }
	}
}
