
content {
	&.fade-out[data-show] {
		// before animation
		.transfer-view {
			.board {
				.left,
				.right {
					opacity: 0;
					scale: 0.9;
					transition: all 250ms ease-in-out;
					transition-delay: 200ms;

					.droid {
						opacity: 0;
						scale: 0.5;
						transition: all 600ms ease-in-out;
						transition-delay: 500ms;
					}

					.led {
						opacity: 0;
						transition: all 300ms ease-in-out;
						transition-delay: 1000ms;
					}

					svg g {
						opacity: 0;
						transition: opacity 200ms ease-in-out;
					}
				}

				.right {
					.droid {
						transition-delay: 800ms;
					}

					.led {
						transition-delay: 1300ms;
					}
				}

				.center {
					opacity: 0;
					scale: 0.9;
					transition: all 250ms ease-in-out;
					transition-delay: 400ms;

					.io-leds > div {
						opacity: 0;
						transition: opacity 200ms ease-in-out;
					}
				}
			}
		}

		&[data-show="transfer"].fade-in {
			transition-delay: 1300ms;

			.transfer-view {
				.board {
					.left,
					.right {
						opacity: 1;
						scale: 1;

						.droid {
							opacity: 1;
							scale: 1;
						}

						.led {
							opacity: 1;
						}

						svg g {
							opacity: 1;

							&:nth-child(1) { transition-delay: 400ms; }
							&:nth-child(2) { transition-delay: 450ms; }
							&:nth-child(3) { transition-delay: 500ms; }
							&:nth-child(4) { transition-delay: 550ms; }
							&:nth-child(5) { transition-delay: 600ms; }
							&:nth-child(6) { transition-delay: 650ms; }
							&:nth-child(7) { transition-delay: 700ms; }
							&:nth-child(8) { transition-delay: 750ms; }
							&:nth-child(9) { transition-delay: 800ms; }
							&:nth-child(10) { transition-delay: 850ms; }
							&:nth-child(11) { transition-delay: 900ms; }
							&:nth-child(12) { transition-delay: 950ms; }
						}
					}

					.center {
						opacity: 1;
						scale: 1;

						.io-leds > div {
							opacity: 1;

							&:nth-child(1) { transition-delay: 400ms; }
							&:nth-child(2) { transition-delay: 450ms; }
							&:nth-child(3) { transition-delay: 500ms; }
							&:nth-child(4) { transition-delay: 550ms; }
							&:nth-child(5) { transition-delay: 600ms; }
							&:nth-child(6) { transition-delay: 650ms; }
							&:nth-child(7) { transition-delay: 700ms; }
							&:nth-child(8) { transition-delay: 750ms; }
							&:nth-child(9) { transition-delay: 800ms; }
							&:nth-child(10) { transition-delay: 850ms; }
							&:nth-child(11) { transition-delay: 900ms; }
							&:nth-child(12) { transition-delay: 950ms; }
						}
					}
				}
			}
		}
	}

	&[data-show="transfer"].paused {
		div.transfer-view {
			opacity: .35;
			
			.board {
				.droid {
					&:before {
						animation-duration: 0s;
					}
				}
			}
		}
	}
}

.transfer-view {
	background: radial-gradient(ellipse at top center, #028ceb99, transparent),
				linear-gradient(180deg, #018fed, #003d92);
	border-radius: 5px;
	min-height: 0px;
	transition: min-height 2220ms ease-in-out;

	&:before {
		content: "";
		background: url(~/icons/circuit-board.png) 50% 50% no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .125;
		border-radius: inherit;
		mix-blend-mode: soft-light;
	}

	&:after {
		content: "";
		position: absolute;
		top: 1px;
		left: 0;
		right: 0;
		height: 1px;
		background: linear-gradient(90deg, transparent 5%, rgba(#fff,.4), transparent 95%);
		pointer-events: none;
	}

	&.finish-win {
		min-height: 4px;
		transition-duration: 3000ms;

		.finish-success {
			display: block;
		}

		.board {
			display: none;
		}
	}

	&.finish-loose {
		min-height: 4px;
		transition-duration: 3000ms;

		.finish-failure {
			display: block;
		}

		.board {
			display: none;
		}
	}

	&.choose-side-title {
		min-height: 3px;
		transition-duration: 2500ms;

		.io .toggler { display: none; }

		.choose-side {
			display: block;

			svg {
				animation: show-hide-text 2500ms forwards;
			}
		}
	}

	&.show-gloria {
		.droid {
			&.player {
				&:after {
					display: block;
				}
			}
		}
	}

	&.get-ready-title {
		min-height: 2px;
		transition-duration: 2500ms;

		.io .toggler { display: none; }

		.get-ready {
			display: block;

			svg {
				animation: show-hide-text 2500ms forwards;
			}
		}
	}

	&.deadlock-title {
		min-height: 2px;
		transition-duration: 2500ms;

		.io .toggler { display: none; }

		.deadlock {
			display: block;

			svg {
				animation: show-hide-text 2500ms forwards;
			}
		}
	}

	.deadlock {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			backdrop-filter: blur(3px);
			filter: grayscale(1) brightness(1.25);
		}

		svg.text-deadlock {
			top: 90px;
			width: 360px;
			display: inline-block;
			font-size: 33px;

			.svg-text__shaded__stroke {
				stroke: #d05e5e;

				.svg-text__stroke {
					stroke: #ff8484;
				}
			}
		}
	}

	.choose-side {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			backdrop-filter: blur(3px);
			filter: grayscale(1) brightness(1.25);
		}

		svg.text-choose {
			top: 90px;
			width: 360px;
			display: inline-block;
			font-size: 33px;

			.svg-text__shaded__stroke {
				stroke: #c68433;

				.svg-text__stroke {
					stroke: #fcbf42;
				}
			}
		}
	}

	.get-ready {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			backdrop-filter: blur(3px);
			filter: grayscale(1) brightness(1.25);
		}

		svg.text-get-ready {
			top: 90px;
			width: 360px;
			display: inline-block;
			font-size: 33px;

			.svg-text__shaded__stroke {
				stroke: #20a627;

				.svg-text__stroke {
					stroke: #41e11a;
				}
			}
		}
	}

	.finish-failure {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		text-shadow: 0 1px 1px rgba(#000,.25);
		text-align: center;
		font-family: "ParaDrew";

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			backdrop-filter: blur(3px);
			filter: grayscale(1) brightness(1.25);
		}

		svg.text-failure {
			display: inline-block;
			left: auto;
			text-shadow: none;
			margin: 53px 0 3px;

			.svg-text__shaded__stroke {
				stroke: #adadad;

				.svg-text__stroke {
					stroke: #eee;
				}
			}

			.svg-text__shaded__fg {
				fill: #ff6666;

				.svg-text-top-hl {
					fill: #ff8a8a;
					text-shadow: 0 -1px 1px #ffa2a2;
				}
			}
		}

		h3 {
			position: relative;
			z-index: 2;
			font-size: 29px;
			margin-bottom: -11px;
		}

		&[data-id="001"] { span.droid-id:before { content: "001"; } }
		&[data-id="123"] { span.droid-id:before { content: "123"; } }
		&[data-id="139"] { span.droid-id:before { content: "139"; } }
		&[data-id="247"] { span.droid-id:before { content: "247"; } }
		&[data-id="249"] { span.droid-id:before { content: "249"; } }
		&[data-id="296"] { span.droid-id:before { content: "296"; } }
		&[data-id="302"] { span.droid-id:before { content: "302"; } }
		&[data-id="329"] { span.droid-id:before { content: "329"; } }
		&[data-id="420"] { span.droid-id:before { content: "420"; } }
		&[data-id="476"] { span.droid-id:before { content: "476"; } }
		&[data-id="493"] { span.droid-id:before { content: "493"; } }
		&[data-id="516"] { span.droid-id:before { content: "516"; } }
		&[data-id="571"] { span.droid-id:before { content: "571"; } }
		&[data-id="598"] { span.droid-id:before { content: "598"; } }
		&[data-id="614"] { span.droid-id:before { content: "614"; } }
		&[data-id="615"] { span.droid-id:before { content: "615"; } }
		&[data-id="629"] { span.droid-id:before { content: "629"; } }
		&[data-id="711"] { span.droid-id:before { content: "711"; } }
		&[data-id="737"] { span.droid-id:before { content: "737"; } }
		&[data-id="742"] { span.droid-id:before { content: "742"; } }
		&[data-id="751"] { span.droid-id:before { content: "751"; } }
		&[data-id="821"] { span.droid-id:before { content: "821"; } }
		&[data-id="834"] { span.droid-id:before { content: "834"; } }
		&[data-id="883"] { span.droid-id:before { content: "883"; } }
		&[data-id="999"] { span.droid-id:before { content: "999"; } }
	}

	.finish-success {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		text-shadow: 0 1px 1px rgba(#000,.25);
		text-align: center;
		font-family: "ParaDrew";

		&[data-id="001"] { span.droid-id:before { content: "001"; } .blueprint { background-image: url(~/icons/bp-001.png); } }
		&[data-id="123"] { span.droid-id:before { content: "123"; } .blueprint { background-image: url(~/icons/bp-123.png); } }
		&[data-id="139"] { span.droid-id:before { content: "139"; } .blueprint { background-image: url(~/icons/bp-139.png); } }
		&[data-id="247"] { span.droid-id:before { content: "247"; } .blueprint { background-image: url(~/icons/bp-247.png); } }
		&[data-id="249"] { span.droid-id:before { content: "249"; } .blueprint { background-image: url(~/icons/bp-249.png); } }
		&[data-id="296"] { span.droid-id:before { content: "296"; } .blueprint { background-image: url(~/icons/bp-296.png); } }
		&[data-id="302"] { span.droid-id:before { content: "302"; } .blueprint { background-image: url(~/icons/bp-302.png); } }
		&[data-id="329"] { span.droid-id:before { content: "329"; } .blueprint { background-image: url(~/icons/bp-329.png); } }
		&[data-id="420"] { span.droid-id:before { content: "420"; } .blueprint { background-image: url(~/icons/bp-420.png); } }
		&[data-id="476"] { span.droid-id:before { content: "476"; } .blueprint { background-image: url(~/icons/bp-476.png); } }
		&[data-id="493"] { span.droid-id:before { content: "493"; } .blueprint { background-image: url(~/icons/bp-493.png); } }
		&[data-id="516"] { span.droid-id:before { content: "516"; } .blueprint { background-image: url(~/icons/bp-516.png); } }
		&[data-id="571"] { span.droid-id:before { content: "571"; } .blueprint { background-image: url(~/icons/bp-571.png); } }
		&[data-id="598"] { span.droid-id:before { content: "598"; } .blueprint { background-image: url(~/icons/bp-598.png); } }
		&[data-id="614"] { span.droid-id:before { content: "614"; } .blueprint { background-image: url(~/icons/bp-614.png); } }
		&[data-id="615"] { span.droid-id:before { content: "615"; } .blueprint { background-image: url(~/icons/bp-615.png); } }
		&[data-id="629"] { span.droid-id:before { content: "629"; } .blueprint { background-image: url(~/icons/bp-629.png); } }
		&[data-id="711"] { span.droid-id:before { content: "711"; } .blueprint { background-image: url(~/icons/bp-711.png); } }
		&[data-id="737"] { span.droid-id:before { content: "737"; } .blueprint { background-image: url(~/icons/bp-737.png); } }
		&[data-id="742"] { span.droid-id:before { content: "742"; } .blueprint { background-image: url(~/icons/bp-742.png); } }
		&[data-id="751"] { span.droid-id:before { content: "751"; } .blueprint { background-image: url(~/icons/bp-751.png); } }
		&[data-id="821"] { span.droid-id:before { content: "821"; } .blueprint { background-image: url(~/icons/bp-821.png); } }
		&[data-id="834"] { span.droid-id:before { content: "834"; } .blueprint { background-image: url(~/icons/bp-834.png); } }
		&[data-id="883"] { span.droid-id:before { content: "883"; } .blueprint { background-image: url(~/icons/bp-883.png); } }
		&[data-id="999"] { span.droid-id:before { content: "999"; } .blueprint { background-image: url(~/icons/bp-999.png); } }

		svg.text-success {
			display: inline-block;
			left: auto;
			text-shadow: none;
			margin-bottom: -23px;

			.svg-text__shaded__stroke {
				stroke: #00ae01;

				.svg-text__stroke {
					stroke: #50f14a;
				}
			}
		}

		h3 {
			font-size: 29px;
			margin-bottom: -11px;
		}

		.blueprint {
			background: 50% 50% / auto 100% no-repeat;
			display: inline-block;
			position: relative;
			top: 3px;
			width: 300px;
			height: 300px;
			filter: grayscale(1) brightness(1.35);

			&:before,
			&:after {
				content: "";
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: inherit;
				filter: invert(1) drop-shadow(0 0 5px #00a7);
			}

			&:before {
				filter: drop-shadow(0 0 3px #fff9) brightness(6);
				// mix-blend-mode: soft-light;
				z-index: 1;
			}
		}
	}

	.filters {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;

		svg {
			pointer-events: none;
		}
	}

	.droid {
		top: -37px;
		left: 50%;
		margin-left: -22px;
		filter: drop-shadow(0 1px 1px #0005);

		&:before {
			// animation-duration: 2s;
			animation: none;
		}

		&.player {
			filter: invert(1) brightness(1.25) drop-shadow(0 1px 1px #0004);

			&:before {
				// animation: player-spin 2s steps(8) infinite;;
				animation-direction: reverse;
			}

			&:after {
				content: "";
				display: none;
				position: absolute;
				top: 1px;
				left: -4px;
				width: 48px;
				height: 39px;
				border-radius: 50%;
				border: 3px solid #000;
				animation: droid-gloria 1500ms infinite;
			}
		}
	}

	.board {
		position: absolute;
		top: 89px;
		left: 30px;
		right: 30px;
		display: flex;
		// opacity: 0;
		--stream-dur: 6s;

		.toggler {
			// background: #0001;
			position: relative;
			top: -15px;
			left: 21px;
			height: 260px;
			width: 30px;
			z-index: 2;
			filter: drop-shadow(0 1px 0 #0001);

			&[data-active="1"] > div:nth-child(1) { opacity: 1; }
			&[data-active="2"] > div:nth-child(2) { opacity: 1; }
			&[data-active="3"] > div:nth-child(3) { opacity: 1; }
			&[data-active="4"] > div:nth-child(4) { opacity: 1; }
			&[data-active="5"] > div:nth-child(5) { opacity: 1; }
			&[data-active="6"] > div:nth-child(6) { opacity: 1; }
			&[data-active="7"] > div:nth-child(7) { opacity: 1; }
			&[data-active="8"] > div:nth-child(8) { opacity: 1; }
			&[data-active="9"] > div:nth-child(9) { opacity: 1; }
			&[data-active="10"] > div:nth-child(10) { opacity: 1; }
			&[data-active="11"] > div:nth-child(11) { opacity: 1; }
			&[data-active="12"] > div:nth-child(12) { opacity: 1; }
			&[data-active="13"] > div:nth-child(13) { opacity: 1; }

			> div {
				opacity: 0;
				position: absolute;
				left: 0;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				min-height: 0px;
				transition: min-height 0ms linear;

				&.active {
					opacity: 1;
					filter: hue-rotate(190deg) saturate(2) brightness(1.5) drop-shadow(0 0 3px #fff6);
					min-height: 1px;
					transition-duration: var( --stream-dur );
				}

				&:before {
					content: "";
					background: url(~/icons/toggler.png) 100% 50%/contain no-repeat;
					position: absolute;
					top: -1px;
					left: -21px;
					width: 38px;
					height: 16px;
					pointer-events: none;
				}

				&:after {
					content: "";
					position: absolute;
					top: 2px;
					left: -21px;
					height: 10px;
					width: 13px;
					background: #2292f9;
					border-radius: 0 9px 9px 0;
					pointer-events: none;
				}

				&:nth-child(1) { top: 0px; }
				&:nth-child(2) { top: 22px; }
				&:nth-child(3) { top: 44px; }
				&:nth-child(4) { top: 66px; }
				&:nth-child(5) { top: 88px; }
				&:nth-child(6) { top: 110px; }
				&:nth-child(7) { top: 132px; }
				&:nth-child(8) { top: 154px; }
				&:nth-child(9) { top: 176px; }
				&:nth-child(10) { top: 198px; }
				&:nth-child(11) { top: 220px; }
				&:nth-child(12) { top: 242px; }
				&:nth-child(13) { top: 264px; }
			}
		}

		svg {
			// background: #0001;
			position: absolute;
			top: -22px;
			left: 0;
			width: 277px;
			height: 292px;
			--yellow: #ea4;
			--purple: #b761e8;

			g {
				filter: drop-shadow(0 1px 0 #1113);
				--color: #2292f9;
				--length: -64;

				.joint,
				.disconnected {
					--filter: none;
					--color: #2292f9;
				}

				&.on {
					--filter: url(#line);
					--color: var( --yellow );

					.stream:not(.joint) {
						display: block;
						fill: none;
						stroke: #fea5;
						stroke-dashoffset: 0;
						stroke-dasharray: 6,16;
						stroke-width: 2;
						stroke-linecap: round;
						filter: url(#stream);
						animation: yellow-stream 3s infinite linear;

						&.purple { stroke: #fae8; }
					}

					.l66 { --length: -66; }
					.l65 { --length: -65; }
					.repeater { stroke: var( --color ); }
					.yellow { --color: var( --yellow ); }
					.purple { --color: var( --purple ); }
				}

				.on[sub="rep"] {
					--filter: url(#line);
					--color: var( --yellow );

					&.stream:not(.joint) {
						display: block;
						fill: none;
						stroke: #ffb6;
						stroke-dashoffset: 0;
						stroke-dasharray: 6,16;
						stroke-width: 2;
						stroke-linecap: round;
						filter: url(#stream);
						animation: yellow-stream 3s infinite linear;

						&.purple { stroke: #fae8; }
					}

					&.l66 { --length: -66; }
					&.l65 { --length: -65; }
					&.repeater { stroke: var( --color ); }
					&.yellow { --color: var( --yellow ); }
					&.purple { --color: var( --purple ); }
				}
			}


			.stream {
				display: none;
			}

			.conn {
				filter: var( --filter );
				fill: var( --color );
				scale: 2;
				transform: translate(0px, 5px);
			}

			.start {
				filter: var( --filter );
				fill: var( --color );
				// stroke: var( --color );
				// stroke-width: 2.5;
			}

			.diode {
				filter: var( --filter );
				fill: var( --color );
				stroke: var( --color );
				stroke-width: 2.5;
			}

			.void {
				filter: var( --filter );
				fill: none;
				stroke: var( --color );
				stroke-width: 2.5;
			}

			.repeater {
				filter: var( --filter );
				fill: var( --color );
				stroke: #2292f9;
				stroke-width: 1.5;
				stroke-linejoin: round;

				&.yellow { --color: var( --yellow ); }
				&.purple { --color: var( --purple ); }
			}

			.gpu {
				filter: var( --filter );
				fill: var( --color );
			}

			.stopper {
				filter: var( --filter );
				fill: var( --color );
			}

			.chip {
				filter: var( --filter );
				fill: var( --color );
			}

			.socket {
				filter: var( --filter );
				fill: var( --color );
			}

			.line {
				filter: var( --filter );
				fill: none;
				stroke: var( --color );
				stroke-width: 2.5;
				// stroke-linejoin: round;
			}
		}

		.left,
		.right {
			position: relative;
			flex: 1;

			.side {
				position: absolute;
				top: 23px;
				bottom: 4px;
				left: 3px;
				width: 33px;
				border-radius: 7px;
				background: #322c64 linear-gradient(180deg, rgba(#fff,.15), transparent 95%);
				box-shadow: inset 0px 1px 0px 0px rgba(#888,.15),
							0 5px 7px rgba(#000,.1);

				&:after {
					content: "";
					position: absolute;
					bottom: 4px;
					left: 2px;
					right: 2px;
					height: 1px;
					background: linear-gradient(90deg, transparent 5%, rgba(#fff,.2), transparent 95%);
				}

				.led {
					position: absolute;
					top: 4px;
					left: 7px;
					right: 7px;
					bottom: 10px;
					border-radius: 3px;
					background: #f90;
					box-shadow: inset 0px 6px 0px 0px rgba(#a50,.15),
								inset 0 0 1px rgba(#940,.75),
								0 0 3px rgba(#fb3,.35),
								0 0 17px rgba(#f90,.65);

					&:before {
						content: "";
						background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.15), transparent);
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: inherit;
					}

					&:after {
						content: "";
						position: absolute;
						bottom: 1px;
						left: 0;
						right: 0;
						height: 1px;
						background: linear-gradient(90deg, transparent 5%, rgba(#fff,.5), transparent 95%);
					}
				}

				.ammo {
					// background: rgba(#000,.1);
					position: absolute;
					top: 13px;
					left: -29px;
					filter: drop-shadow(0 1px 2px #0003);

					&[data-left="1"] > div:nth-child(1) { display: block; }
					&[data-left="2"] > div:nth-child(1),
					&[data-left="2"] > div:nth-child(2) { display: block; }
					&[data-left="3"] > div:nth-child(1),
					&[data-left="3"] > div:nth-child(2),
					&[data-left="3"] > div:nth-child(3) { display: block; }
					&[data-left="4"] > div:nth-child(1),
					&[data-left="4"] > div:nth-child(2),
					&[data-left="4"] > div:nth-child(3),
					&[data-left="4"] > div:nth-child(4) { display: block; }
					&[data-left="5"] > div:nth-child(1),
					&[data-left="5"] > div:nth-child(2),
					&[data-left="5"] > div:nth-child(3),
					&[data-left="5"] > div:nth-child(4),
					&[data-left="5"] > div:nth-child(5) { display: block; }
					&[data-left="6"] > div:nth-child(1),
					&[data-left="6"] > div:nth-child(2),
					&[data-left="6"] > div:nth-child(3),
					&[data-left="6"] > div:nth-child(4),
					&[data-left="6"] > div:nth-child(5),
					&[data-left="6"] > div:nth-child(6) { display: block; }
					&[data-left="7"] > div:nth-child(1),
					&[data-left="7"] > div:nth-child(2),
					&[data-left="7"] > div:nth-child(3),
					&[data-left="7"] > div:nth-child(4),
					&[data-left="7"] > div:nth-child(5),
					&[data-left="7"] > div:nth-child(6),
					&[data-left="7"] > div:nth-child(7) { display: block; }
					&[data-left="8"] > div:nth-child(1),
					&[data-left="8"] > div:nth-child(2),
					&[data-left="8"] > div:nth-child(3),
					&[data-left="8"] > div:nth-child(4),
					&[data-left="8"] > div:nth-child(5),
					&[data-left="8"] > div:nth-child(6),
					&[data-left="8"] > div:nth-child(7),
					&[data-left="8"] > div:nth-child(8) { display: block; }
					&[data-left="9"] > div:nth-child(1),
					&[data-left="9"] > div:nth-child(2),
					&[data-left="9"] > div:nth-child(3),
					&[data-left="9"] > div:nth-child(4),
					&[data-left="9"] > div:nth-child(5),
					&[data-left="9"] > div:nth-child(6),
					&[data-left="9"] > div:nth-child(7),
					&[data-left="9"] > div:nth-child(8),
					&[data-left="9"] > div:nth-child(9) { display: block; }
					&[data-left="10"] > div:nth-child(1),
					&[data-left="10"] > div:nth-child(2),
					&[data-left="10"] > div:nth-child(3),
					&[data-left="10"] > div:nth-child(4),
					&[data-left="10"] > div:nth-child(5),
					&[data-left="10"] > div:nth-child(6),
					&[data-left="10"] > div:nth-child(7),
					&[data-left="10"] > div:nth-child(8),
					&[data-left="10"] > div:nth-child(9),
					&[data-left="10"] > div:nth-child(10) { display: block; }
					&[data-left="11"] > div:nth-child(1),
					&[data-left="11"] > div:nth-child(2),
					&[data-left="11"] > div:nth-child(3),
					&[data-left="11"] > div:nth-child(4),
					&[data-left="11"] > div:nth-child(5),
					&[data-left="11"] > div:nth-child(6),
					&[data-left="11"] > div:nth-child(7),
					&[data-left="11"] > div:nth-child(8),
					&[data-left="11"] > div:nth-child(9),
					&[data-left="11"] > div:nth-child(10),
					&[data-left="11"] > div:nth-child(11) { display: block; }
					&[data-left="12"] > div { display: block; }

					> div {
						display: none;
						position: relative;
						width: 11px;
						height: 10px;
						margin-bottom: 11px;
						background: #2292f9;
						border-radius: 0 3px 3px 0;

						&:before {
							content: "";
							background: url(~/icons/toggler.png) 100% 50%/contain no-repeat;
							position: absolute;
							top: -1px;
							left: -1px;
							width: 27px;
							height: 12px;
						}
					}
				}
			}

			.io {
				position: absolute;
				top: 55px;
				left: 36px;
				right: -4px;
			}
		}
		
		.right {
			.toggler {
				left: 234px;

				> div {
					// background: #f003;
					transform: rotate(180deg);
					left: -3px;

					&:after {
						width: 12px;
					}

					&.active {
						filter: hue-rotate(55deg) saturate(1.5) brightness(1.2) drop-shadow(0 0 3px #fff4);
					}
				}
			}

			.side {
				left: auto;
				right: 3px;

				.led {
					background: #b4f;
					box-shadow: 0 -1px 0 rgba(#111,.15),
								inset 0px 6px 0px 0px rgba(#50a,.15),
								inset 0 0 1px rgba(#408,.95),
								0 0 2px #9c0fd877,
								0 0 7px rgba(#b4f,.5);
				}

				.ammo {
					left: auto;
					right: -29px;

					> div {
						transform: rotate(180deg);
					}
				}
			}
				
			.io {
				top: 54px;
				left: -4px;
				right: 42px;

				svg {
					left: -11px;

					g {
						--length: -67;

						&.on {
							--color: var( --purple );

							polyline { --length: -65; }

							.stream {
								stroke: #fae8;
								animation-name: purple-stream;

								&.yellow {
									stroke: #fea5;
								}
							}
						}

						.on[sub="rep"] {
							--color: var( --purple );
							animation-name: purple-stream;

							&.stream:not(.joint) {
								stroke: #fae8;

								&.yellow { stroke: #fea5; }
							}
							&.repeater { stroke: var( --color ); }
							&.yellow { --color: var( --yellow ); }
							&.purple { --color: var( --purple ); }
						}
					}

					.conn {
						transform: translate(139px, 21px) rotate(180deg);
					}
				}
			}
		}
		
		.center {
			position: relative;
			width: 90px;
			display: flex;
			flex-direction: column;
			pointer-events: none;

			> div {
				position: relative;
				background: #3c357a linear-gradient(180deg, rgba(#fff,.15), transparent);
				pointer-events: all;
				border-radius: 9px;
				box-shadow: inset 0px 1px 0px 0px rgba(#888,.15),
							0 5px 7px rgba(#000,.1);

				// &:before {
				// 	content: "";
				// 	background-image: radial-gradient(ellipse at top center, rgba(#fff,.25), transparent);
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	right: 0;
				// 	bottom: 0;
				// 	border-radius: inherit;
				// }

				&:after {
					content: "";
					position: absolute;
					bottom: 4px;
					left: 0;
					right: 0;
					height: 1px;
					background: linear-gradient(90deg, transparent 5%, rgba(#fff,.25), transparent 95%);
				}
			}

			.cpu {
				top: -47px;
				height: 53px;

				&:before {
					content: "";
					position: absolute;
					top: 11px;
					left: -41px;
					width: 171px;
					height: 85px;
					background: url(~/icons/cpu-circuit.png) 50% 50%/contain no-repeat;
				}

				&[data-winner="deadlock"] {
					.led {
						background: #999;
						box-shadow: inset 0px 6px 0px 0px rgba(#666,.15),
									inset 0 0 1px rgba(#888,.95),
									0 0 3px #888,
									0 0 17px rgba(#999,.85);

						&:before {
							opacity: .4;
						}
					}
				}

				&[data-winner="flicker"] {
					.led {
						animation: led-flicker 300ms infinite;
						animation-duration: 500ms;
					}
				}

				&[data-winner="yellow"] {
					.led {
						background: #f90;
						box-shadow: inset 0px 6px 0px 0px rgba(#a50,.15),
									inset 0 0 1px rgba(#940,.95),
									0 0 3px #fb3,
									0 0 17px rgba(#f90,.85);
					}
				}

				&[data-winner="purple"] {
					.led {
						background: #b4f;
						box-shadow: inset 0px 6px 0px 0px rgba(#50a,.15),
									inset 0 0 1px rgba(#408,.95),
									0 0 3px #9c0fd8,
									0 0 17px rgba(#b4f,.85);

						&:before {
							opacity: .4;
						}

						&:after {
							opacity: .75;
						}
					}
				}

				.led {
					position: relative;
					top: 5px;
					left: 8px;
					width: 74px;
					height: 41px;
					background: #f90;
					border-radius: 5px;
					box-shadow: inset 0px 6px 0px 0px rgba(#a50,.15),
								inset 0 0 1px rgba(#940,.95),
								0 0 3px #fb3,
								0 0 17px rgba(#f90,.85);

					&:before {
						content: "";
						background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.5), transparent);
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: inherit;
					}

					&:after {
						content: "";
						position: absolute;
						bottom: 2px;
						left: 0;
						right: 0;
						height: 1px;
						background: linear-gradient(90deg, transparent 5%, rgba(#fff,.5), transparent 95%);
					}
				}

				b {
					position: absolute;
					background: #369fff;
					box-shadow: none;

					&[data-i="1"] {
						top: 14px;
						left: -9px;
						width: 9px;
						height: 9px;
						border-radius: 3px 0 0 3px;
					}

					&[data-i="2"] {
						top: 30px;
						left: -9px;
						width: 9px;
						height: 9px;
						border-radius: 3px 0 0 3px;
					}

					&[data-i="3"] {
						bottom: -9px;
						left: 10px;
						width: 9px;
						height: 9px;
						border-radius: 0 0 3px 3px;
					}

					&[data-i="4"] {
						bottom: -9px;
						left: 25px;
						width: 9px;
						height: 9px;
						border-radius: 0 0 3px 3px;
					}

					&[data-i="5"] {
						bottom: -9px;
						left: 40px;
						width: 9px;
						height: 9px;
						border-radius: 0 0 3px 3px;
					}

					&[data-i="6"] {
						bottom: -9px;
						left: 55px;
						width: 9px;
						height: 9px;
						border-radius: 0 0 3px 3px;
					}

					&[data-i="7"] {
						bottom: -9px;
						left: 70px;
						width: 9px;
						height: 9px;
						border-radius: 0 0 3px 3px;
					}

					&[data-i="8"] {
						top: 30px;
						right: -9px;
						width: 9px;
						height: 9px;
						border-radius: 0 3px 3px 0;
					}

					&[data-i="9"] {
						top: 14px;
						right: -9px;
						width: 9px;
						height: 9px;
						border-radius: 0 3px 3px 0;
					}
				}
			}

			.io-leds {
				top: -4px;
				left: 15px;
				flex: 1;
				padding: 9px 7px;
				width: 60px;

				div {
					position: relative;
					height: 19px;
					border-radius: 4px;
					margin-bottom: 3px;

					&:before,
					&:after {
						content: "";
						position: absolute;
						bottom: 1px;
						left: 0;
						right: 0;
						height: 1px;
						background: linear-gradient(90deg, transparent 5%, rgba(#fff,.35), transparent 95%);
					}

					&:after {
						bottom: -1px;
					}

					&.yellow {
						background: #ea4;
						box-shadow: 0 -1px 0 rgba(#111,.15),
									inset 0px 5px 0px 0px rgba(#a50,.15),
									inset 0 0 1px rgba(#940,.95),
									0 0 2px #fb3;
					}
					
					&.purple {
						background: #b4f;
						box-shadow: 0 -1px 0 rgba(#111,.15),
									inset 0px 5px 0px 0px rgba(#50a,.15),
									inset 0 0 1px rgba(#408,.95),
									0 0 2px #9c0fd877;
					}

					&.flicker {
						animation: led-flicker 300ms infinite;
					}
				}
			}
		}
	}
}

@keyframes droid-gloria {
	0%   { opacity: 0; transform: scale(.9); }
	45%  { opacity: .75; transform: scale(1.15); }
	55%  { opacity: .75; transform: scale(1.15); }
	100% { opacity: 0; transform: scale(.9); }
}

@keyframes show-hide-text {
	0%   { opacity: 0; transform: translateY(35px); }
	35%  { opacity: 1; transform: translateY(0px); }
	80%  { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(35px); }
}

@keyframes yellow-stream {
	to { stroke-dashoffset: var( --length ); }
}

@keyframes purple-stream {
	from { stroke-dashoffset: var( --length ); }
}

@keyframes led-flicker {
	0%   {
		background: #ea4;
		box-shadow: 0 -1px 0 rgba(#111,.15),
					inset 0px 5px 0px 0px rgba(#a50,.15),
					inset 0 0 1px rgba(#940,.95),
					0 0 2px #fb3;
	}
	50% {
		background: #b4f;
		box-shadow: 0 -1px 0 rgba(#111,.15),
					inset 0px 5px 0px 0px rgba(#50a,.15),
					inset 0 0 1px rgba(#408,.95),
					0 0 2px #9c0fd877;
	}
}

