
.view-controls {
	// background: #0001;
	position: absolute;
	top: auto;
	left: 7px;
	right: 7px;
	bottom: 7px;
	height: 181px;
	border-radius: 4px;

	&[data-view="lift"] {
		opacity: 1;
		visibility: visible;
	}
}


.gamepad {
	background: url(~/icons/gamepad-outline.png) 50% 50%/contain no-repeat;
	position: absolute;
	top: 31px;
	left: 282px;
	width: 175px;
	height: 117px;
	filter: drop-shadow(0 1px 0 #fff);
}

.mouse {
	background: url(~/icons/icon-mouse.png) 50% 50%/contain no-repeat;
	position: absolute;
	top: 80px;
	left: 550px;
	width: 22px;
	height: 37px;
	filter: drop-shadow(0 1px 0 #fff);
}

span.key {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 21px;
	border-radius: 4px;

	&.up { top: 0px; left: 26px; }
	&.left { top: 24px; left: 0px; }
	&.down { top: 24px; left: 26px; }
	&.right { top: 24px; left: 52px; }

	&.pause {
		top: 16px;
		left: 137px;
	}

	&.shift {
		top: 37px;
		left: 0px;
		width: 47px;
	}
	
	&.enter {
		top: 34px;
		left: 237px;
		width: 51px;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		z-index: 2;
		background: linear-gradient(90deg, #fff0, #fff5, #fff0);
	}

	&:after {
		bottom: -2px;
	}

	i {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: inherit;
		padding-top: 2px;
		font-size: 15px;
		font-style: normal;
		text-align: center;
		background: #aaa radial-gradient(ellipse at bottom center, rgba(#fff,.15), transparent);
		color: #fff;
		text-shadow: 0 -1px 0 #999;
		filter: drop-shadow(0 1px 0 #999)
				// drop-shadow(0 2px 0 #e80)
				// drop-shadow(0 3px 0 #e80)
				drop-shadow(0 1px 0 rgba(#fff, .15));
	}
}

.key-group {
	position: absolute;
	width: 78px;
	height: 47px;
	font-size: 0;
	pointer-events: all;

	&.wasd {
		top: 30px;
		left: 100px;
	}

	&.arrows {
		top: 100px;
		left: 100px;

		.key {
			i {
				&:before {
					content: "";
					background: url(~/icons/icon-left.png) 50% 50%/contain no-repeat;
					position: absolute;
					top: 4px;
					left: 5px;
					width: 13px;
					height: 13px;
				}
			}

			&.up i:before {
				left: 6px;
				transform: rotate(90deg);
				filter: drop-shadow(-1px 0 0 #888);
			}

			&.left i:before {
				filter: drop-shadow(0 -1px 0 #888);
			}

			&.down i:before {
				top: 5px;
				transform: rotate(-90deg);
				filter: drop-shadow(1px 0 0 #888);
			}

			&.right i:before {
				top: 5px;
				left: 6px;
				transform: rotate(180deg);
				filter: drop-shadow(0 1px 0 #888);
			}
		}
	}
}
